<!-- <ion-header class="ion-no-border">
  <ion-toolbar class="reset-password-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Réinitialiser le mot de passe</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="reset-password-body">
  <div class="title">Réinitialiser le mot de passe</div>
  <div class="reset-password-container">
    <div class="input-container">
      <form [formGroup]="resetPasswordForm">
        <ion-list class="form-list">
          <ion-label color="dark" position="stacked" class="input-label">Identifiant de l'e-mail</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!resetPasswordForm.controls.email.valid && (resetPasswordForm.controls.email.dirty)" class="invalid">
            </span>
          </div>
          <ion-label color="dark" position="stacked" class="input-label">OTP</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input type="tel" formControlName="otp" placeholder="" maxlength="4" class="input-text"></ion-input>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!resetPasswordForm.controls.otp.valid && (resetPasswordForm.controls.otp.dirty)" class="invalid">Entrez le numéro OTP à 4 chiffres</span>
          </div>

          <ion-label color="dark" position="stacked" class="input-label">Mot de passe</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input [type]="passwordType" formControlName="password" placeholder="" class="input-text"></ion-input>
            <ion-icon [name]="passwordIcon" slot="end" color="primary" class="input-hide-icon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!resetPasswordForm.controls.password.valid && (resetPasswordForm.controls.password.dirty)" class="invalid">* Le mot de passe doit comporter au moins 6 caractères
            </span>
          </div>
  
          <ion-label color="dark" position="stacked" class="input-label">Confirmez le mot de passe</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input [type]="passwordType2" formControlName="cpassword" placeholder="" class="input-text"></ion-input>
            <ion-icon [name]="passwordIcon2" slot="end" color="primary" class="input-hide-icon" (click)='hideShowPassword2()'></ion-icon>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!resetPasswordForm.controls.cpassword.valid && (resetPasswordForm.controls.cpassword.dirty)" class="invalid">* Mot de passe incompatible
            </span>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="submit()" [disabled]="!resetPasswordForm.valid">
            Soumettre
          </ion-button><p class="create-ac">Vous n'avez pas obtenu d'OTP ? <span style="color:#70826A;" (click)="resendOTP()">Renvoyer OTP</span></p>
        </div>
      </form>
    </div>
    <div class="bottom-img">
      <img src="./assets/imgs/login-icon.png">
    </div>
  </div>
</ion-content>
