<ion-header class="ion-no-border">
  <ion-toolbar class="cms-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title style="font-size: 16px;">Nouveautés Blog</ion-title> -->
    <ion-title style="font-size: 16px;">Blog</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content class="blog-content"> -->
  <ion-content class="video-listing-body">
  
  <!-- <div class="blog-wrapper" *ngFor="let data of blogData" (click)="gotoDetails(data)">
    <div class="title">{{data?.title}}</div>
    <youtube-player #player class="video-player"
    [videoId]="hqiKLf6a_sQ"
    ></youtube-player>

    <div [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.content)" class="page-content" (click)="onClick($event)"></div>
  </div> -->

  <div class="post-wrapper" (click)="gotoDetails(data)" *ngFor="let data of blogData">
    <div class="post-img">
      <img [src]="data.image">
      <img src="./assets/imgs/ytube.png" class="ytube-logo" />
    </div>
    <div class="post-title">{{data.title}}</div>
    <div class="post-description" [innerHTML]="sanitizer.bypassSecurityTrustHtml(data?.content)" (click)="onClick($event)"></div>
  </div>


</ion-content>
