.blog-content {
  --background: var(--ion-color-secondary);
  .blog-wrapper {
    background: #fff;
    margin: 16px 20px;
    padding: 20px;
    border-radius: 10px;
    .title {
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 0.6px;
    }
    .video-player {
      iframe {
        width: 100%;
        height: 230px;
      }
    }
  }
}

