<!-- <ion-header>
  <ion-toolbar>
    <ion-title>feedback-modal</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="feedback-modal-content">
  <div class="upper-part">
    <ng-container *ngIf="firstQues">
      <div class="feedback-heading">Comment te sens-tu aujourd'hui?</div>
      <ion-grid style="width: 90%; padding-bottom: 20px;">
        <ion-row class="ion-align-items-center emoji-row">
          <ion-col class="ion-align-self-center">
            <div class="emoji-name top">Tres bien!</div>
            <div [class]="selectedEmoji == 1 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('1')">
              <img src="./assets/imgs/face1.svg">
            </div>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div class="emoji-name top">Bien</div>
            <div [class]="selectedEmoji == 2 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('2')">
              <img src="./assets/imgs/face2.svg">
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center emoji-row">
          <ion-col class="ion-align-self-center">
            <div [class]="selectedEmoji == 3 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('3')">
              <img src="./assets/imgs/face3.svg">
            </div>
            <div class="emoji-name bottom">Moyen</div>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div [class]="selectedEmoji == 4 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('4')">
              <img src="./assets/imgs/face4.svg">
            </div>
            <div class="emoji-name bottom">Bof</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="input-item" style="font-size: 14px; margin-bottom: 12px; --background: #d7e7f5;border-radius: 4px;">
        <ion-textarea type="text" placeholder="Commenter" class="input-text" style="height: 55px; --padding-top: 0;" [ngModelOptions]="{standalone: true}" [(ngModel)]="comment"></ion-textarea>
      </ion-item>
      <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="nextQues()">
        Prochain
      </ion-button>
    </ng-container>

    <ng-container *ngIf="!firstQues">
      <div class="feedback-heading">Comment vas ta douleur?</div>
      <ion-grid style="width: 90%; padding-bottom: 20px;">
        <ion-row class="ion-align-items-center emoji-row">
          <ion-col class="ion-align-self-center">
            <div class="emoji-name top">Tres bien!</div>
            <div [class]="selectedEmoji2 == 1 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback2('1')">
              <img src="./assets/imgs/face1.svg">
            </div>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div class="emoji-name top">Bien</div>
            <div [class]="selectedEmoji2 == 2 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback2('2')">
              <img src="./assets/imgs/face2.svg">
            </div>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center emoji-row">
          <ion-col class="ion-align-self-center">
            <div [class]="selectedEmoji2 == 3 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback2('3')">
              <img src="./assets/imgs/face3.svg">
            </div>
            <div class="emoji-name bottom">Moyen</div>
          </ion-col>
          <ion-col class="ion-align-self-center">
            <div [class]="selectedEmoji2 == 4 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback2('4')">
              <img src="./assets/imgs/face4.svg">
            </div>
            <div class="emoji-name bottom">Bof</div>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item lines="none" class="input-item" style="font-size: 14px; margin-bottom: 12px; --background: #d7e7f5;border-radius: 4px;">
        <ion-textarea type="text" placeholder="Commenter" class="input-text" style="height: 55px; --padding-top: 0;" [ngModelOptions]="{standalone: true}" [(ngModel)]="comment2"></ion-textarea>
      </ion-item>
      <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="sendFeedback()">
        Envoyer des commentaires
      </ion-button>
    </ng-container>
  </div>
  <div class="lower-part">
    <ion-button expand="block" class="play-again ion-text-capitalize" (click)="playAgain()">
      <ion-icon slot="start" src="./assets/imgs/play.svg" style="margin-right: 10px;"></ion-icon>
      Vous jouez à nouveau
    </ion-button>
  </div>
</ion-content>
