<ion-header class="ion-no-border">
  <ion-toolbar class="subscription-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Abonnements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="subscription-body">
  <ng-container *ngIf="planList.length > 0">
    <div class="first-section">
      <div class="activate-title">Activer ostéo en poche</div>
      <div class="activate-desc">
        Voici une proportion de trois abonnements.
        Choisissez celui qui correspond le mieux à votre besoin du moment .
      </div>
      <div class="plan-wrapper">
        <div *ngFor="let plan of planList; let i=index" [class]="selectedIndex == i ? 'highlight plan' : 'plan'" (click)="selectItem(i, plan)">{{plan.name}} € {{plan.price}} / {{plan.validity}} Mois</div>
      </div>
      <ion-button expand="block" class="solid-primary-button ion-text-capitalize" (click)="buySubscription()"
      *ngIf="global.platform.is('android') == true"
      >
        Activer maintenant
      </ion-button>
      <ion-button expand="block" class="solid-primary-button ion-text-capitalize" 
      (click)="buyinAppPurchanses()"
      *ngIf="global.platform.is('ios') == true"
      >
        Acheter maintenant
      </ion-button>
    </div>
    <!-- ============================ 2ND PHASE DEVELOPMENT ============================= -->
    <!-- <div class="second-section">
      <ion-button expand="block" class="light-outline-button ion-text-capitalize" fill="outline" style="font-size: 13px;">
        Parrainage
      </ion-button>
      <div class="sponsership-content">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page</div>
    </div> -->
  </ng-container>
</ion-content>
