.subscription-toolbar {
  --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}
.subscription-body {
  // --background: #e4eae1;
  --background: var(--ion-color-secondary);
  .first-section {
    background: var(--ion-color-secondary);
    padding: 26px 26px 46px;
    text-align: center;
    .activate-title {
      font-weight: 600;
      font-size: 16px;
    }
    .activate-desc {
      padding: 12px 0 26px;
      line-height: 18px;
      font-size: 14px;
      color: var(--ion-color-primary);
    }
    .plan-wrapper {
      padding-bottom: 40px;
      .plan {
        background: #fff;
        border-radius: 5px;
        width: 100%;
        box-shadow: 0 1px 2px #9CB3CC4D;
        color: #121F3E;
        padding: 28px 22px;
        text-shadow: 0 0 black;
        &:not(:last-child) {
          margin-bottom: 12px;
        }
        &.highlight {
          border: 1px solid #000000;
        }
      }
    }
  }
  .second-section {
    padding: 36px 26px 30px;
    text-align: center;
    background: #e4eae1;
    border-top: 2px solid rgb(0 0 0 / 15%);
    .sponsership-content {
      line-height: 17px;
      font-size: 13px;
      color: var(--ion-color-primary);
      padding-top: 18px;
    }
  }
}