<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="body-wrap">
    <h5 class="registration-title">Créer un compte</h5>
    <ion-segment mode="ios" class="gender-segment" (ionChange)="segmentChanged($event)" [(ngModel)]="userType">
      <ion-segment-button value="Male" class="first-segment">
        <ion-label>M</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Female" class="second-segment">
        <ion-label>Mme</ion-label>
      </ion-segment-button>
    </ion-segment>
    <form [formGroup]="registrationForm">
      <ion-list class="form-list">
        <ion-label color="dark" position="stacked" class="input-label">Nom</ion-label>
        <!-- <ion-label color="dark" position="stacked" class="input-label">Nom et Prénom</ion-label> -->
        
        <ion-item lines="none" class="input-item">
          <ion-input type="text" formControlName="lastname" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.lastname.valid && (registrationForm.controls.lastname.dirty)" class="invalid">* Entrer le nom de famille
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Prénom</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" formControlName="firstname" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.firstname.valid && (registrationForm.controls.firstname.dirty)" class="invalid">* Entrez votre prénom
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Email</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.email.valid && (registrationForm.controls.email.dirty)" class="invalid">* Entrez une adresse mail valide
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Numero de Telephone</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input type="tel" formControlName="telephone" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.telephone.valid && (registrationForm.controls.telephone.dirty)" class="invalid">* Le numéro de téléphone doit comporter au moins 9 chiffres
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Comment vous sentez-vous ?</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input type="text" formControlName="howfeel" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.howfeel.valid && (registrationForm.controls.howfeel.dirty)" class="invalid">* Entrez comment vous sentez-vous
          </span>
        </div>

        <!-- <ion-label color="dark" position="stacked" class="input-label">Quel douleur es tu ?</ion-label> -->
        <!-- <ion-label color="dark" position="stacked" class="input-label">Quelle douleur avez-vous?</ion-label> -->
        <ion-label color="dark" position="stacked" class="input-label">Quelle douleur avez vous ?</ion-label>
        
        <ion-item lines="none" class="input-item">
          <ion-input type="text" formControlName="howarrive" placeholder="" class="input-text"></ion-input>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.howarrive.valid && (registrationForm.controls.howarrive.dirty)" class="invalid">* Entrez quelle douleur avez vous
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Mot de passe</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input [type]="passwordType" formControlName="password" placeholder="" class="input-text" clearOnEdit="false"></ion-input>
          <ion-icon [name]="passwordIcon" slot="end" color="primary" class="input-hide-icon" (click)='hideShowPassword()'></ion-icon>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.password.valid && (registrationForm.controls.password.dirty)" class="invalid">* Le mot de passe doit comporter au moins 6 caractères
          </span>
        </div>

        <ion-label color="dark" position="stacked" class="input-label">Confirmez le mot de passe</ion-label>
        <ion-item lines="none" class="input-item">
          <ion-input [type]="passwordType2" formControlName="cpassword" placeholder="" class="input-text" clearOnEdit="false"></ion-input>
          <ion-icon [name]="passwordIcon2" slot="end" color="primary" class="input-hide-icon" (click)='hideShowPassword2()'></ion-icon>
        </ion-item>
        <div style="height: 22px;">
          <span *ngIf="!registrationForm.controls.cpassword.valid && (registrationForm.controls.cpassword.dirty)" class="invalid">* Mot de passe incompatible
          </span>
        </div>
      </ion-list>
      <div>
        <ion-item style="--padding-start:0 !important;border: 1px solid black; margin-bottom: 15px; border-radius: 5px; ">
          <ion-select placeholder="Choisissez le pays" [ngModelOptions]="{standalone: true}"  [(ngModel)]="countryIso" style="width: 100%; padding-left: 10px;">
            <ion-select-option value="{{country.iso}}" *ngFor="let country of global.allCountryList">{{country.name}}</ion-select-option>
          </ion-select>
        </ion-item>
      </div>

      <div>
        <!-- <ion-item no-lines no-padding>
          <ion-label>eptez que l'application enregistre vos coordonnées à des fins administratives,  ainsi que vos réponses concernant votre état de santé général.
            <br/><br/>
            NB: les données sont conservées selon la loi applicable en France
            </ion-label>
          <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="pepperoni"></ion-checkbox>
        </ion-item> -->
        <div style="display: flex;
        flex-direction: row;
        border: 1px solid;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 7px;">
          <div style="display: flex;
          flex-direction: column;
          justify-content: center;
          width: 150px;">
            <ion-checkbox [ngModelOptions]="{standalone: true}" [(ngModel)]="has_accepted_gdpr"></ion-checkbox>
          </div>
          <div style="display: flex;
          flex-direction: column;
          font-size: 13px;
          letter-spacing: 0.8px;
          margin-bottom: 15px;">
            <div>acceptez que l'application enregistre vos coordonnées à des fins administratives,  ainsi que vos réponses concernant votre état de santé général.
            </div>
            <div style="padding-top: 10px;
            font-weight: 600;">
              NB: les données sont conservées selon la loi applicable en France
            </div>
          </div>

        </div>
      </div>



      <div class="button-container">
        <!-- [disabled]="!registrationForm.valid" -->
        <ion-button expand="block" class="submit-button ion-text-capitalize" color="primary" (click)="signup()" [disabled]="!registrationForm.valid">
          S'inscrire
        </ion-button>
        <p class="login-msg">Vous avez déjà un compte? <span style="color:#70826A;" (click)="login()">Connexion</span></p>
      </div>
    </form>
  </div>
</ion-content>
