// .header-md::after {
//   background-image: none;
// }
.body-wrap {
  width: 86%;
  margin: 0 auto;
  .registration-title {
    margin-top: 4px;
    margin-bottom: 24px;
  }
  .gender-segment {
    width: 116px;
    .first-segment {
      width: 46px;
      max-width: 46px;
      min-width: 46px;
    }
    .second-segment {
      width: 70px;
      min-width: 70px;
      max-width: 70px;
    }
    ion-segment-button {
      // --background-checked: var(--ion-color-primary);
      --color: #5e5d5d;
      --color-checked: #fff;
      --indicator-color: var(--ion-color-primary);
    }
  }
  .form-list {
    padding-top: 20px;
    .input-label {
      font-size: 13px;
      letter-spacing: 0.5px;
    }
    .input-item {
      border: 1px solid #000000;
      border-radius: 5px;
      --padding-start: 0 !important;
      --inner-padding-end: 0;
      margin-top: 5px;
      --min-height: 37px;
      &.item-has-focus {
        --highlight-background: none !important;
        border: 2px solid #000000;
      }
      &.ion-dirty {
        --highlight-background: none !important;
      }
      &.ion-invalid {
        --highlight-background: none !important;
      }
      // &:last-child {
      //   margin-top: 10px;
      // }
      .input-text {
        font-size: 13px;
        letter-spacing: 0.5px;
        --padding-start: 10px;
        --padding-end: 10px;
        height: 40px;
      }
      .input-hide-icon {
        margin: 0 12px 0;
        width: 20px;
      }
      .fieldval {
        padding-left: 10px;
        font-size: 13px;
      }
      .calender-icon {
        padding-right: 10px;
      }
    }
    // .input-item:last-child {
    // 	border-bottom: 1px solid var(--ion-color-dark);
    // 	box-shadow: none;
    // }
    .invalid {
      padding-top: 5px;
      font-size: 75%;
      color: #8b0000;
    }
    //   .item-inner{
    //       box-shadow: none !important;
    //       border-bottom-color: none !important;
    //   }
  }
  .button-container{
    // width: 90%;
    // margin: 14px auto 0;
    .submit-button{
      position: relative;
      height: 42px;
      margin: 0;
      --box-shadow: none;
      ion-icon{
        position: absolute;
        right: 30px;
        font-size: 20px;
      }
      ion-spinner{
        position: absolute !important;
        right: 10px;
      }
      ion-spinner * {
        width: 28px;
        height: 28px;
        stroke: var(--ion-color-light);
        // fill: #222;
      }
    }
    p {
      text-align: center;
      font-size: 14px;
      padding: 12px 0 16px;
    }
  }
}