.history-toolbar {
  --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}

.history-content {
  --background: var(--ion-color-secondary);
  .each-history {
    background: #ffffff;
    margin: 20px auto;
    box-shadow: 0 0 25px rgb(134 137 154 / 16%);
    // border-radius: 10px;
    // padding: 20px;
    .item-wrapper {
      display: flex;
      padding: 20px 24px;
      /* align-items: center; */
      // width: 90%;
      .img-wrapper {
        flex: 0 0 36%;
        height: 90px;
        img {
          height: 100%;
          object-fit: cover;
          border-radius: 10px;
        }
      }
      .content-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 8px 0 8px 12px;
        .title {
          line-height: 17px;
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 0.5px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        .comments {
          color: var(--ion-color-primary);
          border-bottom: 1px dashed var(--ion-color-primary);
          width: fit-content;
          font-size: 15px;
        }
      }
    }
    .all-comments {
      .comment-wrapper {
        padding: 20px 24px;
        border-top: 0.6px solid #d6d6d6;
        .comment-title {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.5px;
        }
        .comment-answer {
          color: #646465;
          font-size: 14px;
          letter-spacing: 0.5px;
        }
        .emoji-wrapper {
          padding: 16px 0 14px;
          .emoji {
            width: 28px;
            height: 28px;
            margin-right: 14px;
            filter: grayscale(1);
            opacity: 0.5;
            &.selected {
              filter: none;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}