<ion-header class="ion-no-border">
  <ion-toolbar class="history-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Mon histoire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="history-content">
  <div *ngIf="!isData" class="no-data">
    Aucun historique de commentaires trouvé
  </div>
  <div class="each-history" *ngFor="let data of feedbackHistory; let i=index">
    <div class="item-wrapper">
      <div class="img-wrapper">
        <img [src]="data.video_image" />
      </div>
      <div class="content-wrapper">
        <div class="title">{{data.video_title}}</div>
        <div class="comments" (click)="openComments(i)">2 commentaires</div>
        <!-- <div class="emoji-wrapper">
          <img [class]="data.icon == 1 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face1.svg" />
          <img [class]="data.icon == 2 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face2.svg" />
          <img [class]="data.icon == 3 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face3.svg" />
          <img [class]="data.icon == 4 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face4.svg" />
        </div> -->
      </div>
    </div>
    <div class="all-comments" [hidden]="hideenIndx != i">
      <div class="comment-wrapper">
        <div class="comment-title">Comment te sens-tu aujourd'hui?</div>
        <div class="emoji-wrapper">
          <img [class]="data.icon1 == 1 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face1.svg" />
          <img [class]="data.icon1 == 2 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face2.svg" />
          <img [class]="data.icon1 == 3 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face3.svg" />
          <img [class]="data.icon1 == 4 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face4.svg" />
        </div>
        <div class="comment-answer">{{data.comment1}}</div>
      </div>
      <div class="comment-wrapper">
        <div class="comment-title">Comment vas ta douleur?</div>
        <div class="emoji-wrapper">
          <img [class]="data.icon2 == 1 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face1.svg" />
          <img [class]="data.icon2 == 2 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face2.svg" />
          <img [class]="data.icon2 == 3 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face3.svg" />
          <img [class]="data.icon2 == 4 ? 'emoji selected' : 'emoji'" src="./assets/imgs/face4.svg" />
        </div>
        <div class="comment-answer">{{data.comment2}}</div>
      </div>
    </div>
  </div>
</ion-content>
