<ion-header class="ion-no-border">
  <ion-toolbar class="physical-exercise-details-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title class="header-title">Poitrine</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="physical-exercise-details-body">
  <!-- <video controls="controls" controlsList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="video-player" (ended)="onEndedVideo()">
    <source src="./assets/videos/SampleVideo.mp4" type="video/mp4" />
  </video> -->
  <!-- <iframe width="100%" height="200" frameBorder="0" (ended)="onEndedVideo()"
  [src]="global.getSafeUrl(detail?.video)">
  </iframe> -->

  <!-- (ready)="onReady($event)" -->
  <youtube-player #player class="video-player"
  [videoId]="videoId"
  (stateChange)="onStateChange($event)"></youtube-player>

  <!-- <div class="details-title">Bent Over Triceps Extension</div> -->
  <div class="exercise-content">
    <div class="instruction" style="padding-bottom: 40px;">
      <!-- <div class="title">Instruction</div> -->
      <!-- <div>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant</div><br/> -->
      <div [innerHTML]="global.changeSanitizerHtml(detail?.content)"></div>
    </div>
    <!-- <div class="instruction">
      <div class="title">Information</div>
      <div>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant</div>
    </div> -->
  </div>
</ion-content>