.physical-exercise-details-body {
  .video-player {
    iframe {
      width: 100%;
      height: 230px;
    }
  }
  .details-title {
    padding: 14px 28px 17px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 1px solid #ddd;
    letter-spacing: 0.5px;
  }
  .exercise-content {
    padding: 28px;
    color: #646465;
    font-size: 14px;
    .title {
      color: #000000;
      font-weight: 600;
      padding-bottom: 10px;
    }
  }

  .play-again-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
    width: 100%;
    height: 100%;
    .play-again-wrapper {
      width: 84%;
      margin: 0 auto;
      background: #fff;
      border: 1px solid #707070;
      padding: 40px;
      border-radius: 20px;
    }
  }
}