<ion-header class="ion-no-border">
  <ion-toolbar class="contact-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title class="header-title">Mon profil</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="contact-us">
  <!-- <div class="user-image">
    <img class="user" [src]="global.userdetails?.profile_img">
    <ion-icon name="pencil-sharp" class="edit-dp" color="primary" (click)="changeImage()"></ion-icon>
  </div> -->
  <!-- <div class="page-heading">Nous contacter</div> -->
  <div class="page-heading">contactez-nous pour Stage/ Soin</div>
  
  <form [formGroup]="contactForm" class="contact-form">
    <ion-list class="form-list">
      <!-- <ion-label color="dark" position="stacked" class="input-label">Nom</ion-label> -->
      <ion-label color="dark" position="stacked" class="input-label">Nom et Prénom</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="text" formControlName="name" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!contactForm.controls.name.valid && (contactForm.controls.name.dirty)" class="invalid">* Entrez le nom complet
        </span>
      </div>

      <ion-label color="dark" position="stacked" class="input-label">Email</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!contactForm.controls.email.valid && (contactForm.controls.email.dirty)" class="invalid">* Entrez une adresse mail valide
        </span>
      </div>

      <ion-label color="dark" position="stacked" class="input-label">Numero de Telephone</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="tel" formControlName="telephone" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!contactForm.controls.telephone.valid && (contactForm.controls.telephone.dirty)" class="invalid">* Le numéro de téléphone doit comporter au moins 9 chiffres
        </span>
      </div>

      <ion-label color="dark" position="stacked" class="input-label">Un message</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-textarea type="text" formControlName="message" placeholder="" class="input-text" style="height: 70px; --padding-top: 0;"></ion-textarea>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!contactForm.controls.message.valid && (contactForm.controls.message.dirty)" class="invalid">* Entrer un message
        </span>
      </div>
    </ion-list>
    <div class="button-container">
      <ion-button expand="block" class="submit-button ion-text-capitalize" color="primary" (click)="send()" [disabled]="!contactForm.valid">
        Envoyer
      </ion-button>
    </div>
  </form>
</ion-content>
