<!-- ******************** DO NOT DELETE ********************** -->

  <!-- // Head > 'Tête' > id="Path_3782" apiID=1 -->
  <!-- // Right Thigh > 'Cuisse droite' > id="Path_3224" apiID=6 -->
  <!-- // Right Leg > 'Jambe droite' > id="Path_3225" apiID=6 -->
  <!-- // Left Thigh > 'Cuisse gauche' > id="Path_3223" apiID=6 -->
  <!-- // Left Leg > 'La jambe gauche' > id="Path_3222" apiID=6 -->
  <!-- // Right Hip > 'Hanche droite' > id="Path_3216" apiID=12 -->
  <!-- // Left Hip > 'Hanche gauche' > id="Path_3217" apiID=12 -->
  <!-- // Back > 'Dos' > id="Path_3221" & id="Path_3220" apiID=2 -->
  <!-- // Left Shoulder > 'Épaule gauche' > id="Path_3218" apiID=15 -->
  <!-- // Right Shoulder > 'Épaule droite' > id="Path_3219" apiID=15 -->

<!-- ******************** DO NOT DELETE ********************** -->

<svg xmlns="http://www.w3.org/2000/svg" width="259.554" height="442.965" viewBox="0 0 259.554 442.965">
  <g id="Group_2514" data-name="Group 2514" transform="translate(-528.355 -183.387)">
    <g id="Group_2513" data-name="Group 2513">
      <g id="Group_2511" data-name="Group 2511">
        <g id="Group_2510" data-name="Group 2510">
          <path id="Path_3584" data-name="Path 3584" d="M786.85,405.461a3.073,3.073,0,0,0-1.684-1.367c-2.975-1.053-1.169-2.737-5.1-3.044-4.29-.335-6.758.668-9.707.332-3.016-.335-5.965-1.675-5.965-3.619s3.886-5.466,3.825-8.017c-.033-1.372.167-2.136-2.112-2.471-2.346-.335-11.028,5.194-12.7,6.2a13.274,13.274,0,0,1-4.289,1.34s-17.291-21.245-29.556-30.226-17.291-14.945-18.23-16.621c-1.005-1.675-2.345-15.616-7.975-27.545s-2.346-24.932-10.321-34.851c-7.976-9.986-9.986-12.935-17.962-15.615a53.166,53.166,0,0,1-16.956-9.651c-2.681-2.346-4.289-3.351-5.294-7.976s-.671-12.935-.671-12.935-16.621-6.635-27.545-2.01c0,0,5.965,8.645,3.016,14.945-3.016,6.3-6.635,9.316-17.626,8.981-10.925-.335-21.581-4.289-26.875,4.624s-13.606,25.87-19.235,36.191-14.946,23.591-16.286,29.221-8.311,41.821,4.289,84.647c0,0-6.032,7.506-7.439,14.61-.258,1.29-2.225,2.735-3.49,4.336a14.166,14.166,0,0,0-2.022,3.563l.676,2.008,2.392-.757,3.4-2.844c-.4,2.614.775,6.3,2.45,6.3,3.083,0,4.53-3.936,6.06-8.51.335-.134.808.134,1.143,0l-.367,3.651.56,2.72,1.05.273a1.726,1.726,0,0,0,1.874-.711c.737-1.107,1.964-3.039,3.23-5.4,1.206,1.809,3.284,2.211,4.356,1.608,1.006-.6.8-4.356.469-7.372,6.1-.067,9.986.4,11.126-1.609a.968.968,0,0,0,.134-.469,109.972,109.972,0,0,0,1.206,14.075,277.2,277.2,0,0,1,2.681,33.175c0,8.578-.67,13.94-.67,16.621s.335,6.635,0,10.656a81.024,81.024,0,0,1-3.351,19.57c-2.681,8.31,8.981,63.066,8.981,70.371s-3.486,8.646-2.547,11.26c.938,2.68,1.273,3.351-2.748,3.619a22.9,22.9,0,0,1-5.63,0s-3.351,2.345,1.341,6.3c4.624,3.954,6.3,2.345,8.98,7.3s3.955,7.3,10.925,5.294,6.97-4.959,8.645-7.975,5.295-6.635,8.311-9.316,0-8.31-3.351-6.635-5.965,1.005-5.965,0-2.011-1.34-.335-3.954c1.675-2.681-.335-2.011-.67-6.97s.335-18.9,4.959-30.562c4.625-11.594,8.646-27.88,6.3-45.506s-4.624-19.57-2.346-25.267c2.346-5.63,7.976-23.591,9.316-35.856s.335-31.231,3.351-35.185,3.016-11.93,9.986-5.63,13.94,23.926,19.905,33.845c5.965,9.986,9.651,31.567,23.926,45.507,0,0-3.351,22.921,3.955,38.872s21.58,47.785,22.921,55.09,2.345,10.657,0,12.935c-2.346,2.346-3.351,9.651,3.016,11.26,6.3,1.675,9.65,2.01,13.6-1.006s3.954-5.964,11.594-4.624,16.286-.335,17.291-3.619c1.006-3.351-4.959-4.289-8.31-4.625s-4.625-3.016-7.976-2.01-5.294-2.346-7.3-3.351-3.954-1.006-3.954-2.681,1.34-3.686.335-7.975-3.016-7.641-3.016-16.621-7.64-60.252-10.321-75.8-4.289-14.879-4.289-21.514,2.01-15.616-4.289-30.561-13.606-40.816-20.911-51.472-2.01-18.229-13.6-37.2c0,0,3.619-18.23,4.289-21.246S664.4,318.679,664.4,316a16.088,16.088,0,0,1,1.676-5.964s3.351,34.85,14.945,47.45c0,0,32.84,30.226,50.466,40.145,8.307,4.706,12.55,8.221,16.349,10.623,2.254,1.425,4.642,1.452,7.339,2.109,2.4.586,4.994,1.879,8.884,1.879,15.616,0,21.05-.642,21.05-1.982C785.049,409.528,788.717,408.8,786.85,405.461ZM582.367,346.292c-1.34,6.3,0,8.645-4.959,16.621s-11.93,13.605-9.651,32.84c2.346,19.235,3.351,15.28,1.34,21.245a30.961,30.961,0,0,0-1.541,10.455c0-2.546-7.775-7.238-12.064-8.779-4.624-1.676-5.294-8.981-3.351-20.24,2.011-11.26,2.681-37.2,5.295-46.513,2.681-9.315,12.466-23.926,16.353-35.855s5.227-13.941,5.227-13.941a45.028,45.028,0,0,0,2.346,18.23C584.713,329.738,583.708,339.992,582.367,346.292Z" fill="#e4d9cd" style="isolation: isolate"/>
          <path id="Path_3585" data-name="Path 3585" d="M617.126,252.329c-3.016,6.3-6.635,9.316-17.626,8.981-10.925-.335-21.581-4.289-26.875,4.624s-13.6,25.87-19.235,36.191-14.946,23.591-16.286,29.221-8.311,41.821,4.289,84.647a23.167,23.167,0,0,0-3.583,5.247c-2.272,4.055-3.7,10.426-5.213,11.852s-4.277,5.079-3.653,6.46,2.405,1.441,6.46-2.643c-.208,3.534.648,6.133,2.648,6.133s4-4,5-6,1.387-2.831,1.649-2.717-.965,7.411,1.886,7.232,5.124-7.485,5.124-7.485c.312,1.693.49,4.768,3.03,4.411s1.069-10.2,1.069-10.2c1.738-.49,6.639.045,9.757-.579s.446-2.807.446-2.807c-2.382-2.469-7.792-5.062-11.015-6.22-4.624-1.676-5.294-8.981-3.351-20.24,2.011-11.26,2.681-37.2,5.3-46.513,2.681-9.315,12.466-23.926,16.353-35.855s5.227-13.941,5.227-13.941a45.029,45.029,0,0,0,2.346,18.23c3.351,9.383,2.346,19.637,1.005,25.937s0,8.645-4.959,16.621-11.93,13.605-9.651,32.84c2.346,19.235,3.351,15.28,1.34,21.245a29.934,29.934,0,0,0-1.531,9.433M783.84,402.9s-1.129-2.079-5.466-1.9-6.891,1.285-9.98-.011-4.693-1.474-3.327-4.8,5.109-6.059,2.436-8.2-14.594,5.486-14.594,5.486a13.274,13.274,0,0,1-4.289,1.34s-17.291-21.245-29.556-30.226-17.291-14.945-18.23-16.621c-1.005-1.675-2.345-15.616-7.975-27.545s-2.346-24.932-10.321-34.851c-7.975-9.986-9.986-12.935-17.961-15.615A53.163,53.163,0,0,1,647.62,260.3c-2.68-2.346-4.289-3.351-5.294-7.976M574.7,604.76a8.787,8.787,0,0,1-3.564,1.337c-2.05.267-4.1.089-4.676,1.069,0,0-3.077-.713-2.72,1.872a11.859,11.859,0,0,0,6.237,8.2c3.654,1.782,6.324,3.029,6.593,5.435s7.4,4.01,11.675,2.317,4.99-1.96,6.148-4.634-.1-4.02,1.822-5.129,5.663-3.247,7.267-6.187-.713-4.634-1.96-5.258-4.634.357-6.416,0a1.555,1.555,0,0,1-1.3-2.007c0-1.005-2.011-1.34-.335-3.954,1.675-2.681-.335-2.011-.67-6.97s.335-18.9,4.959-30.561c4.625-11.6,8.646-27.881,6.3-45.507s-4.624-19.57-2.346-25.267c2.346-5.63,7.976-23.591,9.316-35.856s.335-31.231,3.351-35.185,3.016-11.93,9.986-5.63,13.941,23.926,19.9,33.845c5.965,9.986,9.651,31.567,23.927,45.507,0,0-3.351,22.921,3.954,38.872s21.58,47.785,22.921,55.09,2.345,10.657,0,12.935c-2.346,2.346-.559,9.674,5.808,11.282,6.3,1.676,9.323.521,13.277-2.495s3.766-4.548,11.406-3.208,13.431-.726,14.436-4.01c1.005-3.351-4.38-3.847-7.731-4.183s-5.492-2.258-8.843-1.252-4.427-3.1-6.438-4.109-3.954-1.005-3.954-2.681,1.341-3.686.335-7.975-3.016-7.641-3.016-16.621-7.64-60.252-10.321-75.8-4.289-14.879-4.289-21.514,2.011-15.616-4.289-30.561-13.605-40.816-20.911-51.472-2.01-18.229-13.605-37.2c0,0,3.619-18.23,4.289-21.246s2.681-7.3,2.681-9.986a16.088,16.088,0,0,1,1.676-5.964s3.351,34.85,14.945,47.45c0,0,32.84,30.226,50.467,40.145,0,0,9.6,8.054,19.4,11.262s18.3,3.981,25.248,3.268,8.019-.654,8.495-2.139.534-3.683-3.03-3.683-8.733,1.188-12.713-.119m-201.4,21.168a109.972,109.972,0,0,0,1.206,14.075,277.193,277.193,0,0,1,2.681,33.175c0,8.578-.67,13.94-.67,16.621s.335,6.635,0,10.656a81.024,81.024,0,0,1-3.351,19.57c-2.681,8.31,8.981,63.066,8.981,70.371,0,0,1.084,4.107.729,5.087s-2.4,2.495-1.6,4.455.907,6.149,2.058,7.575" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3586" data-name="Path 3586" d="M586.3,277.663s-3.016-2.011-2.48-3.954c.469-2.011-.871-4.96-.067-5.965s3.82-3.485,7.3-2.748,4.491,4.356,4.759,6.3-2.011,6.434-2.011,6.434-3.016-.737-4.155,0C588.508,278.4,586.3,277.663,586.3,277.663Z" fill="#151116"/>
          <path id="Path_3587" data-name="Path 3587" d="M607.743,273.441s-1.742-2.748,0-4.223.469-3.016,2.748-3.016c2.212,0,4.759.269,5.7,1.743s-.469,5.228-1.274,5.5-.469,2.211-3.217,2.01A5.305,5.305,0,0,1,607.743,273.441Z" fill="#151116"/>
          <path id="Path_3588" data-name="Path 3588" d="M583.482,296.831s-3.686-3.217-1.206-5.7,3.015-3.753,4.49-2.011-.268,4.96,0,6.233S585.627,296.831,583.482,296.831Z" fill="#151116"/>
          <path id="Path_3589" data-name="Path 3589" d="M595.747,296.831s-2.413-1.475-1.743-3.016c.67-1.475-.8-3.15,1.743-4.155s4.021-1.475,5.227,0c1.14,1.474,3.016,4.825,0,6.165A10.262,10.262,0,0,1,595.747,296.831Z" fill="#151116"/>
          <path id="Path_3590" data-name="Path 3590" d="M598.226,284.7s-2.881-.335-2.479-1.474,1.541-2.145,1.206-3.15-.469-2.011,1.273-2.078,1.408-.4,2.882,0,2.279.8,1.475,3.284C601.845,283.7,601.644,284.365,598.226,284.7Z" fill="#151116"/>
          <path id="Path_3591" data-name="Path 3591" d="M606.135,286.577s-.4-3.15.8-3.821,1.877-2.747,3.82-1.474,3.351,1.474,3.351,3.485.067,4.49-2.413,4.826C609.285,289.861,606.135,286.577,606.135,286.577Z" fill="#151116"/>
          <path id="Path_3592" data-name="Path 3592" d="M618.735,289.593s2.01-.135,2.01-1.274a1.621,1.621,0,0,1,2.145-1.608c1.005.469,4.825,2.144,2.01,3.954s-4.624,2.144-5.495,1.005A2.735,2.735,0,0,1,618.735,289.593Z" fill="#151116"/>
          <path id="Path_3593" data-name="Path 3593" d="M626.71,291.335s-.134,3.016,2.011,2.145c2.144-.805,3.016-1.006,3.351-2.145s2.479-3.15,0-3.619-4.156-.8-4.625,0C626.911,288.52,626.71,291.335,626.71,291.335Z" fill="#151116"/>
          <path id="Path_3594" data-name="Path 3594" d="M628.855,296.9s.469,2.949,2.479,3.15c2.011.134,1.81-.939,2.681-1.542.8-.6,1.14-.268,1.14-1.608s1.474-3.217-.805-3.15c-2.345,0-2.815-.536-3.619,0C629.86,294.217,628.453,295.624,628.855,296.9Z" fill="#151116"/>
          <path id="Path_3595" data-name="Path 3595" d="M636.83,287.18s-.134,3.82,2.145,4.021a6.686,6.686,0,0,0,4.289-1.608s-.469-1.341,0-1.877,1.005-.268,0-1.139-3.083-1.073-2.949-1.408-1.005-1.005-1.541-.469S636.83,286.577,636.83,287.18Z" fill="#151116"/>
          <path id="Path_3596" data-name="Path 3596" d="M647.821,282.555a3,3,0,0,0,1.14,4.022c2.48,1.474,3.619,2.412,4.624.6s1.14-2.815.67-3.954-3.284-2.413-3.284-2.413Z" fill="#151116"/>
          <path id="Path_3597" data-name="Path 3597" d="M658.076,279.271s-1.542,2.48,0,3.485,2.814.47,4.49,0,3.619-1.675,2.48-3.485-5.161-2.345-5.63-1.273A2.151,2.151,0,0,1,658.076,279.271Z" fill="#151116"/>
          <path id="Path_3598" data-name="Path 3598" d="M659.751,289.458s-2.48-3.82,0-4.289,6.367-.469,5.63,2.681S662.767,291.268,659.751,289.458Z" fill="#151116"/>
          <path id="Path_3599" data-name="Path 3599" d="M667.257,299.981s-3.016-.738-1.005-3.284.335-3.619,2.346-3.888,3.351-.134,3.619,2.547c.335,2.681,3.016,3.552-.67,4.692S667.257,299.981,667.257,299.981Z" fill="#151116"/>
          <path id="Path_3600" data-name="Path 3600" d="M667.86,311.441s-.469-3.016,1.609-3.954c2.078-1.005,3.887.134,3.954,2.011s.737,4.49-1.876,4.49A4.277,4.277,0,0,1,667.86,311.441Z" fill="#151116"/>
          <path id="Path_3601" data-name="Path 3601" d="M569.274,280.813s3.016,2.815,4.825-.469,2.815-5.094,1.81-6.3c-1.006-1.14-2.078-3.619-3.15-.8-1.006,2.814-3.351,4.289-3.485,5.294A11.347,11.347,0,0,0,569.274,280.813Z" fill="#151116"/>
          <path id="Path_3602" data-name="Path 3602" d="M681.868,311.307s.134-2.681,2.345-2.815c2.145-.134,3.955-.536,3.62,2.078C687.5,313.117,685.822,315.261,681.868,311.307Z" fill="#151116"/>
          <path id="Path_3603" data-name="Path 3603" d="M627.38,311.977a2,2,0,0,1-2.345-2.144c0-2.48-.2-3.82,1.675-4.29s3.686-1.005,4.155.8,1.006,3.418,0,4.624C629.86,312.111,627.38,311.977,627.38,311.977Z" fill="#151116"/>
          <path id="Path_3604" data-name="Path 3604" d="M629.994,321.427s-2.212-2.815,0-3.351,1.81-1.139,3.217-1a3.038,3.038,0,0,1,2.413,3.619c-.335,1.809-1.341,3.82-3.351,2.815A4.383,4.383,0,0,1,629.994,321.427Z" fill="#151116"/>
          <path id="Path_3605" data-name="Path 3605" d="M638.506,325.381s-.4,2.681,1.876,2.815,4.625,0,4.424-2.815,1.474-4.155-.939-4.155C641.522,321.226,638.841,322.768,638.506,325.381Z" fill="#151116"/>
          <path id="Path_3606" data-name="Path 3606" d="M649.162,321.226s-.8,3.82.67,4.826,3.954,1.675,4.49,0c.47-1.676,1.207-2.346.268-3.15s-.469-2.346-1.608-3.15C651.776,318.947,649.363,318.947,649.162,321.226Z" fill="#151116"/>
          <path id="Path_3607" data-name="Path 3607" d="M590.72,319.216s-2.145-1.341-2.346-2.145c-.134-.8-1.005-3.418,1.14-5.094s2.949-2.748,4.356-1.072,3.753,2.882,1.81,4.691C593.87,317.406,593.669,319.752,590.72,319.216Z" fill="#151116"/>
          <path id="Path_3608" data-name="Path 3608" d="M602.583,321.226s-3.284-2.547-1.475-4.155,2.011-2.815,3.82-2.413,3.62.536,3.016,2.413c-.67,1.876.6,3.016-1,4.155C605.331,322.432,603.588,323.907,602.583,321.226Z" fill="#151116"/>
          <path id="Path_3609" data-name="Path 3609" d="M606.939,332.016s-2.547-2.412,0-3.753,3.552-.871,4.758-1.206,4.022.67,2.413,2.48c-1.675,1.809-.8,3.15-2.413,3.82S608.078,334.362,606.939,332.016Z" fill="#151116"/>
          <path id="Path_3610" data-name="Path 3610" d="M604.325,345.487s-2.614-1.474-1.407-3.954,1.34-4.624,4.021-2.681,4.356,3.821,2.212,5.5A6.883,6.883,0,0,1,604.325,345.487Z" fill="#151116"/>
          <path id="Path_3611" data-name="Path 3611" d="M593,350.112a2.742,2.742,0,0,1-1.475-1.676,3.535,3.535,0,0,1,.738-3.954c1.407-1.474,1.206-3.954,3.485-2.01,2.278,2.01,2.144,5.83.737,6.97A4.269,4.269,0,0,1,593,350.112Z" fill="#151116"/>
          <path id="Path_3612" data-name="Path 3612" d="M570.413,289.458s.67,3.486,2.346,3.351,1.34.4,2.815.6a2.6,2.6,0,0,0,2.68-3.955c-1.474-2.747-.335-4.423-3.016-4.49A4.52,4.52,0,0,0,570.413,289.458Z" fill="#151116"/>
          <path id="Path_3613" data-name="Path 3613" d="M568.268,304.136s2.145-1,2.145-2.346-.67-2.815.8-2.48a5.92,5.92,0,0,1,3.284,2.413c.67.938,2.547,5.161-.6,5.362S569.274,307.621,568.268,304.136Z" fill="#151116"/>
          <path id="Path_3614" data-name="Path 3614" d="M563.108,319.283s-3.485-2.882,0-4.692,2.681-2.949,4.49-2.614,2.681.469,2.815,2.011c.134,1.474,2.011,3.82-1.206,4.691-3.217.939-3.418,2.949-4.759,1.81Z" fill="#151116"/>
          <path id="Path_3615" data-name="Path 3615" d="M552.519,330.408a2.682,2.682,0,0,1,0-2.145c.469-1.34-.6-2.345-.2-3.485.4-1.206,1.073-2.815,3.217-2.815s4.491.738,4.491,2.815c0,2.145.134,4.558-1.14,5.7C557.478,331.547,554.328,332.955,552.519,330.408Z" fill="#151116"/>
          <path id="Path_3616" data-name="Path 3616" d="M641.857,333.223s-.335-.536,1.474-1.341,3.753.805,1.877,2.011C643.331,335.032,643.331,334.5,641.857,333.223Z" fill="#151116"/>
          <path id="Path_3617" data-name="Path 3617" d="M647.419,329.067s-.871-1.943,0-2.01c.872,0,1.877,1.474,1.475,2.01S647.419,329.067,647.419,329.067Z" fill="#151116"/>
          <path id="Path_3618" data-name="Path 3618" d="M641.79,338.651s-1.341-1.34,0-2.01,4.155-2.011,3.418,0S644.47,339.523,641.79,338.651Z" fill="#151116"/>
          <path id="Path_3619" data-name="Path 3619" d="M639.645,345.554s-3.016-3.753,0-3.753,4.557,1.073,3.619,1.877S642.661,345.823,639.645,345.554Z" fill="#151116"/>
          <path id="Path_3620" data-name="Path 3620" d="M640.382,352.458s-1.809-1.475,0-2.212,4.021.134,2.882,1.139C642.192,352.324,644.068,352.927,640.382,352.458Z" fill="#151116"/>
          <path id="Path_3621" data-name="Path 3621" d="M641.253,356.613s-1.072-1.475,0-2.011c1.073-.469,1.542-.67,2.078,0s1.273,1.475,0,2.011A2.27,2.27,0,0,1,641.253,356.613Z" fill="#151116"/>
          <path id="Path_3622" data-name="Path 3622" d="M642.393,363.918s-.6-2.48.938-2.48a2.331,2.331,0,0,1,2.078,2.48,2.034,2.034,0,0,1-2.078,1.34C642.326,365.124,642.393,363.918,642.393,363.918Z" fill="#151116"/>
          <path id="Path_3623" data-name="Path 3623" d="M647.084,368.542s-1.742-1.809-1.072-2.479,3.016-.469,2.949,0C648.827,366.6,650.3,368.744,647.084,368.542Z" fill="#151116"/>
          <path id="Path_3624" data-name="Path 3624" d="M650.971,371.022s-2.144-2.48,0-2.48,3.418-.8,2.48,1.274S650.971,371.022,650.971,371.022Z" fill="#151116"/>
          <path id="Path_3625" data-name="Path 3625" d="M657.405,372.564s-2.815-1.81-1.273-2.748,1.407-1.408,2.547-.6,2.412.8,1.407,2.01S659.014,372.564,657.405,372.564Z" fill="#151116"/>
          <path id="Path_3626" data-name="Path 3626" d="M545.012,325.582s-.335,4.558,2.346,2.614S547.023,324.242,545.012,325.582Z" fill="#151116"/>
          <path id="Path_3627" data-name="Path 3627" d="M548.028,329.269s-1.608,3.619.335,2.345S551.111,328.8,548.028,329.269Z" fill="#151116"/>
          <path id="Path_3628" data-name="Path 3628" d="M549.972,333.089s-.8,1.943,1.005,1.407c1.81-.469,2.815-.737,1.676-1.407C551.513,332.351,551.178,330.475,549.972,333.089Z" fill="#151116"/>
          <path id="Path_3629" data-name="Path 3629" d="M550.106,337.311s-1.609,2.346,0,2.748,1.139,1.273,2.077,0C553.189,338.785,551.915,337.579,550.106,337.311Z" fill="#151116"/>
          <path id="Path_3630" data-name="Path 3630" d="M551.513,343.678s-1.474,1.407-.536,1.876,1.34,1.609,2.212,1.207,1.474-.737,1-1.475-.268-.938-1-1.608A1.4,1.4,0,0,0,551.513,343.678Z" fill="#151116"/>
          <path id="Path_3631" data-name="Path 3631" d="M551.513,349.107s-.469,1.072,1.006,2.144c1.541,1.073,1.474,1.542,1.809,0C554.663,349.777,552.921,349.04,551.513,349.107Z" fill="#151116"/>
          <path id="Path_3632" data-name="Path 3632" d="M550.106,354.2s-.67.737,1.34,1.341,2.212-.671,1.743-1.341C552.653,353.53,551.245,353.731,550.106,354.2Z" fill="#151116"/>
          <path id="Path_3633" data-name="Path 3633" d="M549.369,356.814c0-1.273,1.139-.067,2.278.536s.335,2.011-1.608,2.145c-1.207.067-1.207-.469-1.006-.872a2.051,2.051,0,0,1,.336-.469Z" fill="#151116"/>
          <path id="Path_3634" data-name="Path 3634" d="M546.688,362.31s-.067,2.01,1.675,1.742,3.016-1.34,2.212-1.742-.469-.738-1.81-.939A2.358,2.358,0,0,0,546.688,362.31Z" fill="#151116"/>
          <path id="Path_3635" data-name="Path 3635" d="M542.2,364.119a2.417,2.417,0,0,0,0,1.542c.269.938,1.006,1.34,2.011.67s1.407-1.14.8-1.743-.2-1.206-1.34-1.206C542.6,363.315,542.935,363.65,542.2,364.119Z" fill="#151116"/>
          <path id="Path_3636" data-name="Path 3636" d="M536.97,367.671s-2.145,1.877,0,2.145,3.619-.268,2.748-1.005S538.511,367.537,536.97,367.671Z" fill="#151116"/>
          <path id="Path_3637" data-name="Path 3637" d="M574.568,378.394s-.335-2.01,1.14-2.211,3.351,1,1.876,2.211S575.171,379.4,574.568,378.394Z" fill="#151116"/>
          <path id="Path_3638" data-name="Path 3638" d="M581.471,376.786s-.737-1.743.872-2.346,2.747-.737,3.083,0a1.638,1.638,0,0,1-1.006,2.346C583.281,376.987,582.812,377.791,581.471,376.786Z" fill="#151116"/>
          <path id="Path_3639" data-name="Path 3639" d="M585.56,371.223s.335-1.675,1.809-1.876c1.475-.268,2.882-.939,2.346.938-.469,1.944-.4,2.681-1.676,2.279S586.364,372.9,585.56,371.223Z" fill="#151116"/>
          <path id="Path_3640" data-name="Path 3640" d="M588.106,364.99s-1.407-2.211.469-2.211,4.156-.4,2.681,1.34C589.782,365.8,589.983,365.862,588.106,364.99Z" fill="#151116"/>
          <path id="Path_3641" data-name="Path 3641" d="M586.565,360.366s-1.341-1.743-.469-2.48,3.418-1.742,3.552,0S588.911,360.7,586.565,360.366Z" fill="#151116"/>
          <path id="Path_3642" data-name="Path 3642" d="M670.742,322.231s-.536,1.475,1.341,1.609,2.882,0,2.345-1.139-.67-1.877-1.809-1.944C671.48,320.757,670.608,321.226,670.742,322.231Z" fill="#151116"/>
          <path id="Path_3643" data-name="Path 3643" d="M678.316,326.119s-.4,2.278,1.474,2.077,3.485-.469,2.48-2.077-.6-2.413-1.877-2.212S678.718,323.706,678.316,326.119Z" fill="#151116"/>
          <path id="Path_3644" data-name="Path 3644" d="M683.141,330.408s-.6,2.01,1.676,1.675c2.278-.4,2.814-.8,2.211-1.675s0-2.48-1.005-2.145S684.146,327.66,683.141,330.408Z" fill="#151116"/>
          <path id="Path_3645" data-name="Path 3645" d="M686.626,335.635s-1.474,1.944,0,2.413,1.14.134,2.145,0,2.212-1.139,1.273-1.608.469-2.078-1.139-1.944A3.349,3.349,0,0,0,686.626,335.635Z" fill="#151116"/>
          <path id="Path_3646" data-name="Path 3646" d="M687.3,340.93s-1.407,2.145.939,2.145,3.418-2.145,2.211-2.748C689.173,339.657,687.7,339.456,687.3,340.93Z" fill="#151116"/>
          <path id="Path_3647" data-name="Path 3647" d="M688.905,345.554s-1.341,2.413.8,2.413,2.614.268,2.614-.6a2.35,2.35,0,0,0-1.34-2.346A2.44,2.44,0,0,0,688.905,345.554Z" fill="#151116"/>
          <path id="Path_3648" data-name="Path 3648" d="M686.827,354.2s-.335,1.475,1.341,1.341,2.345-1.14,1.608-2.145-1.876-1.743-2.48-1.274S686.827,354.2,686.827,354.2Z" fill="#151116"/>
          <path id="Path_3649" data-name="Path 3649" d="M696.612,367.135a1.306,1.306,0,0,1,1.341-1.81c1.943-.134,3.217.537,3.217,1.81,0,1.34.737,3.418-1.006,3.552a4.366,4.366,0,0,1-3.686-1.675A3.562,3.562,0,0,1,696.612,367.135Z" fill="#151116"/>
          <path id="Path_3650" data-name="Path 3650" d="M551.513,399.3c.067-.268.067-.6.134-.871.4-2.413.805-5.563,1.14-8.981-.537-.67-1.676-1.274-3.821-1.207,0,0-5.16-.6-7.439,2.882C539.45,394.479,545.884,401.248,551.513,399.3Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3651" data-name="Path 3651" d="M571.82,389.252a5.008,5.008,0,0,0-4.892,2.479c.067,1.274.2,2.614.335,4.089.2,1.407.335,2.681.469,3.82,1.609,1.675,4.088,2.145,6.769.067A5.76,5.76,0,0,0,571.82,389.252Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3652" data-name="Path 3652" d="M589.648,397.428s-5.161-1.608-3.887-4.624,3.217-3.552,5.495-4.625,7.171-1.34,6.9,2.547S595.546,398.836,589.648,397.428Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3653" data-name="Path 3653" d="M609.218,394.479s-3.619-3.083,0-4.222,5.629-3.485,8.243-2.748,5.362,4.088,2.346,7.641-5.094,4.959-7.707,2.613C609.486,395.351,609.218,394.479,609.218,394.479Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3654" data-name="Path 3654" d="M637.567,397.7s-3.619,1.609-5.7-1.005-3.955-5.563-1.14-7.506,5.563-4.692,8.847-2.681C642.795,388.514,644.2,396.758,637.567,397.7Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3655" data-name="Path 3655" d="M660.421,396.691s-3.686,2.212-6.166,0-3.82-5.3-.469-7.506,7.238-3.552,9.45,0C665.515,392.737,664.979,395.82,660.421,396.691Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3656" data-name="Path 3656" d="M569.542,413.915c-.134.737-.469,1.609-.939,3.15a31.233,31.233,0,0,0-1.273,5.63,7.5,7.5,0,0,0,6.5,2.413c4.356-.47,3.954-6.5,1.273-9.584A5.984,5.984,0,0,0,569.542,413.915Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3657" data-name="Path 3657" d="M586.163,417s-1.14,4.222,2.211,5.362,7.507,2.211,9.718-.4-.268-8.847-3.15-9.115C592.128,412.642,586.029,413.58,586.163,417Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3658" data-name="Path 3658" d="M634.954,412.843a5.368,5.368,0,0,1,5.227-.938c3.217,1.005,5.63,3.954,3.753,7.573s-5.495,6.97-8.176,2.882S631,414.049,634.954,412.843Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3659" data-name="Path 3659" d="M654.255,414.652s-2.345,5.5,2.748,6.971,9.986.335,8.981-3.687S659.885,408.755,654.255,414.652Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3660" data-name="Path 3660" d="M685.621,420.751h0c-1.542-4.222-3.083-8.645-4.625-12.868-1.474,1.073-3.552,2.882-3.552,5.027C677.444,416.127,678.919,422.7,685.621,420.751Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3661" data-name="Path 3661" d="M683.61,435.563s.939-2.212,3.284-.6,4.491,2.479,3.753,5.361-1.474,6.836-4.825,4.826S678.919,439.048,683.61,435.563Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3662" data-name="Path 3662" d="M660.622,435.027s-5.629.938-4.825,4.959c.737,4.021,1.139,6.9,5.63,6.9s6.836-2.748,6.5-5.227C667.458,439.182,665.247,434.289,660.622,435.027Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3663" data-name="Path 3663" d="M642.259,434.088a4.5,4.5,0,0,0-4.893-.268c1.81,3.552,3.552,7.037,5.228,10.053C646.95,444.141,646.347,436.5,642.259,434.088Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3664" data-name="Path 3664" d="M645.543,449.168c1.34,2.681,2.614,5.9,3.954,9.45a10.072,10.072,0,0,0,1.34-.134c4.357-.6,1.877-8.311-2.479-9.852A2.382,2.382,0,0,0,645.543,449.168Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3665" data-name="Path 3665" d="M663.5,479.26s-4.825-1.877-5.428-5.63.536-9.584,3.686-7.573S670.206,476.177,663.5,479.26Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3666" data-name="Path 3666" d="M679.321,476.177s-4.49-1.876-4.49-5.63.469-8.846,4.49-7.372S684.884,472.29,679.321,476.177Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3667" data-name="Path 3667" d="M577.115,448.431s3.954.536,4.289-2.748.872-6.3-3.217-5.7c-4.088.67-6.1-.2-6.769,2.279S572.692,449.369,577.115,448.431Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3668" data-name="Path 3668" d="M595.747,448.431a5.316,5.316,0,0,1-5.094-4.223c-.737-3.418.737-4.758,3.887-5.629,3.083-.939,5.7-1.743,5.831,1.34S599.969,447.693,595.747,448.431Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3669" data-name="Path 3669" d="M596.618,481a4.7,4.7,0,0,1-6.166-1.743c-2.145-3.485-.469-8.445,3.083-8.981C597.154,469.81,601.577,477.383,596.618,481Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3670" data-name="Path 3670" d="M572.223,477.517s-.135,4.96,3.082,5.094,1.743-1.34,3.486-3.351,2.211-6.233,0-6.769C576.579,471.888,572.357,472.022,572.223,477.517Z" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="0.75"/>
          <path id="Path_3671" data-name="Path 3671" d="M577.45,506.537s-4.088.737-3.351-3.954c.737-4.758-1.474-7.573,2.212-8.847s6.568-2.144,6.434,1.877.268,5.093-1.609,7.975C579.193,506.4,577.45,506.537,577.45,506.537Z" fill="#151116"/>
          <path id="Path_3672" data-name="Path 3672" d="M567.263,525.437s-.4,7.372,2.748,5.965,1.34-1.475,2.212-5.965,1.34-9.986,0-10.321c-1.341-.4-3.217.737-3.486,3.887S567.2,523.56,567.263,525.437Z" fill="#151116"/>
          <path id="Path_3673" data-name="Path 3673" d="M580.332,523.828s-1.609-2.479,0-3.954,1.34-3.619,2.346-4.222,4.356-3.083,5.495,0,1.14,4.222,0,8.244-1.34,4.356-1,5.495-.268,3.954-2.882,2.279-3.954-4.289-3.954-5.63a2.8,2.8,0,0,0-.737-2.01Z" fill="#151116"/>
          <path id="Path_3674" data-name="Path 3674" d="M598.83,492.664a4.645,4.645,0,0,0-4.692,3.284c-1.273,3.619-2.547,9.986,1.475,9.718,3.954-.268,6.9-.8,6.3-3.954C601.376,498.562,601.175,493.334,598.83,492.664Z" fill="#151116"/>
          <path id="Path_3675" data-name="Path 3675" d="M578.321,550.1s-2.412,6.837-4.356,5.7-1.877-3.016-2.748-5.7-2.48-5.227,0-7.707a40.394,40.394,0,0,0,3.887-4.758c1.006-1.14,3.955-2.614,3.888,0s-1.341,3.217-.6,5.629S579.394,547.621,578.321,550.1Z" fill="#151116"/>
          <path id="Path_3676" data-name="Path 3676" d="M587.57,542.393s1.274.938,0,3.686-2.346,7.909-.469,9.852,3.418,4.759,5.9,1.475c2.48-3.217,2.48-3.217,2.48-5.228s-1.14-3.016-1.14-4.758.6-4.223-.469-6.367c-1.139-2.145-3.284-3.351-4.758-1.341C587.57,541.79,587.57,542.393,587.57,542.393Z" fill="#151116"/>
          <path id="Path_3677" data-name="Path 3677" d="M599.5,515.049c-.737,3.552-4.424,7.3-2.011,10.522s-.4,5.965,3.753,5.228a10.974,10.974,0,0,0,3.418-1.006,79.278,79.278,0,0,0-.536-14.811c-.134-1.207-.335-2.346-.469-3.485C601.98,512.033,599.9,512.971,599.5,515.049Z" fill="#151116"/>
          <path id="Path_3678" data-name="Path 3678" d="M596.216,565.046a3.674,3.674,0,0,0-3.284-.469c-2.882,1-5.027,3.083-3.15,6.7s-.4,4.959.938,7.238a4.233,4.233,0,0,0,2.48,2.212A84.609,84.609,0,0,1,596.216,565.046Z" fill="#151116"/>
          <path id="Path_3679" data-name="Path 3679" d="M578.992,578.383c1.541-2.48.938-4.758,1.206-7.707.268-3.016,1.944-5.362-.6-6.3s-6.568-.8-6.5,1.809a.923.923,0,0,1-.939,1.073c.537,2.949,1.006,5.83,1.475,8.511a6.892,6.892,0,0,0,1.407,1.609s.134.2.4.536C576.177,578.718,577.852,580.26,578.992,578.383Z" fill="#151116"/>
          <path id="Path_3680" data-name="Path 3680" d="M577.919,588.972s-2.01-1.876,0-2.748,4.759.4,4.223,2.748C581.672,591.318,578.656,589.911,577.919,588.972Z" fill="#151116"/>
          <path id="Path_3681" data-name="Path 3681" d="M674.831,497.221s-.6-4.356,1.876-6.7,5.965-1.34,6.836,1.609.469,9.584-2.48,10.053S674.831,497.221,674.831,497.221Z" fill="#151116"/>
          <path id="Path_3682" data-name="Path 3682" d="M701.974,500.17c-.737-4.825-1.408-8.913-1.877-11.8-.067-.4-.134-.737-.2-1.14a3.028,3.028,0,0,0-4.423,0c-3.016,2.748-7.976,7.976-3.485,10.925C695.607,500.572,700.03,501.913,701.974,500.17Z" fill="#151116"/>
          <path id="Path_3683" data-name="Path 3683" d="M694.468,530.329s-5.228-2.144-4.29-5.629a22.969,22.969,0,0,0,.8-7.976c-.135-2.01-.4-4.825,2.747-4.959,3.083-.134,4.491-.134,4.826,3.887a32.7,32.7,0,0,0,1.474,6.97c.469,1.877.134,7.439-2.01,8.311A3.268,3.268,0,0,1,694.468,530.329Z" fill="#151116"/>
          <path id="Path_3684" data-name="Path 3684" d="M677.176,530.329a5.133,5.133,0,0,1-2.412-4.356c0-3.016-1.274-4.624-1.207-6.97s.268-5.7,3.619-6.568,5.9-1.541,5.764,1.676c-.134,3.284,0,3.552-1.273,5.294s-.4,2.212-1.006,4.826S680.661,530.329,677.176,530.329Z" fill="#151116"/>
          <path id="Path_3685" data-name="Path 3685" d="M684.415,549.363s-3.351.871-4.491-4.624-3.619-8.445-1.675-9.584,5.026-2.48,5.428,1.608-.4,5.5.738,7.574S686.023,548.358,684.415,549.363Z" fill="#151116"/>
          <path id="Path_3686" data-name="Path 3686" d="M692.725,541.12s.871,2.882,1.34,4.825-.871,3.083,0,5.094,3.888,3.217,4.96.871a10.758,10.758,0,0,0,1.206-3.887c.335-1.676-.67-2.614-.6-4.088s-.134-5.362-.871-6.7-2.212-3.485-3.686-1.341S692.524,540.45,692.725,541.12Z" fill="#151116"/>
          <path id="Path_3687" data-name="Path 3687" d="M692.725,572.016s.134,5.63,3.016,4.088c2.882-1.474,2.145-2.479,3.351-4.088s1.474-5.9.6-7.64c-.871-1.81.268-3.887-2.01-3.887-2.212,0-5.965,0-5.965,2.345s-.6,5.5,0,6.7A19.422,19.422,0,0,1,692.725,572.016Z" fill="#151116"/>
          <path id="Path_3688" data-name="Path 3688" d="M541.9,420.023a7.536,7.536,0,0,0-1.33,1.765,63.562,63.562,0,0,0-4.592,9.242" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3689" data-name="Path 3689" d="M554.64,419.237a13.267,13.267,0,0,0,3.666,4.59" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3690" data-name="Path 3690" d="M558.794,422a10.739,10.739,0,0,1-3.746,3.469" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3691" data-name="Path 3691" d="M784.612,410.74s3.208-1.722,2.733-4.455-4.337-3.089-8.674-2.792-9.208.539-12-.087" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3692" data-name="Path 3692" d="M771.6,407.667a14.428,14.428,0,0,0-1.728-1.5,7.274,7.274,0,0,0-2.121-.961c-.234-.07-.473-.132-.71-.2-.28-.171-.565-.334-.86-.477-.8-.39-1.678-.607-2.476-1a6.241,6.241,0,0,1-.754-.567,2.322,2.322,0,0,1-.576-.818,3.562,3.562,0,0,1,.115-1.124,11.359,11.359,0,0,1,1.462-3.154.324.324,0,0,0-.032-.3c.2-.235.4-.463.6-.676.153-.161-.642-.182-.7-.183-.03,0-.061,0-.092,0l.075-.062c.174-.142-.675-.147-.715-.145a2.344,2.344,0,0,0-1.214.232,8.779,8.779,0,0,0-2.934,3.668,2.671,2.671,0,0,0,.175,2.25,3.854,3.854,0,0,0,1.706,1.312,33.332,33.332,0,0,0,4.644,1.393,9.236,9.236,0,0,1,2.142.853c.16.1.322.211.481.324a15.728,15.728,0,0,1,1.6,1.394c.213.207.974.043,1.235.006C771.029,407.926,771.755,407.813,771.6,407.667Z"/>
          <path id="Path_3693" data-name="Path 3693" d="M593.77,609.038v-3.654" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
          <path id="Path_3694" data-name="Path 3694" d="M555.335,427.582s-9.433-2.02-19.36,8.168" fill="none" stroke="#020001" stroke-miterlimit="10" stroke-width="1"/>
        </g>
        <path id="Path_3695" data-name="Path 3695" d="M600.041,221.92a7.95,7.95,0,0,1-1.564-3.688,23.763,23.763,0,0,1-.243-4.037" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
        <path id="Path_3696" data-name="Path 3696" d="M618.015,244.658l4.346,1.048a4.578,4.578,0,0,0,1.126,1.043,2.522,2.522,0,0,0,1.749.275c.012,0,.022.009.034.012a8.773,8.773,0,0,0,1.054,1.578c.348.414,1.632,1.659,1.616.339-.009-.716-.049-1.43-.1-2.143a.478.478,0,0,0,.159-.433,6.773,6.773,0,0,1-.253-1.719,3.115,3.115,0,0,1,1.652-.95,5.021,5.021,0,0,1,.823,2.115c.3,2.189,3.811,3.383,5.144,2.19l.066.349c.152.8,1.627,1.186,1.949.315.485-1.316,2.941.528,3.705.737a3.18,3.18,0,0,0,3.306-.868c2.484-2.535,4.477-5.6,6.82-8.268,2.365-2.693,5.359-4.59,8.066-6.9a53.659,53.659,0,0,0,6.967-7.067,19.953,19.953,0,0,0,4.251-8.68,35.635,35.635,0,0,0,.588-9.771,5.094,5.094,0,0,0-2.544-4.035,21.473,21.473,0,0,0-2-4,5.44,5.44,0,0,0-5.022-2.765c-.02-.011-.037-.024-.058-.035a7.212,7.212,0,0,1-3.177-2.668,12.215,12.215,0,0,0-2.175-2.911,6.441,6.441,0,0,0-3.421-1.372c-1.378-.186-2.987.019-4.271-.6-2.051-.979-2.462-3.8-4.385-5.011a4.066,4.066,0,0,0-3.269-.448c-1.65.439-2.789,1.241-4.551.725a33.109,33.109,0,0,0-4.008-1.28,7.425,7.425,0,0,0-4.011.6,7.155,7.155,0,0,1-4.817.637,13.024,13.024,0,0,0-4.066-.686,4.744,4.744,0,0,0-3.238,1.709c-1.205,1.331-2.269,2.812-3.388,4.216-1.187,1.489-2.379,2.974-3.562,4.467a7.7,7.7,0,0,0-.915,1.332c-.088.043-.186.069-.271.119a26.29,26.29,0,0,0-4,2.862,4.085,4.085,0,0,0-.843.364,11.283,11.283,0,0,0-3.231,3.24c-2.1,2.883-4.747,5.788-4.225,9.592,0,0,2.679,6.5,3.154,7.021s1.01,2.716,1.366,3.192,1.1,1.336,1.1,1.336a5.5,5.5,0,0,1,1.07,1.07c.356.534.713,3.92,2.406,5.257s3.475,1.426,4.9,2.4,7.906,12.77,7.906,12.77M603.554,225.5c-1.584-3.4-3.72-6.578-5.052-10.117a13.56,13.56,0,0,1-.99-4.288c-.059-1.906.888-3.318,1.927-4.8a4.683,4.683,0,0,0,1.149,1.478c-.148.2-.286.414-.426.623a2.158,2.158,0,0,0-2.2,2.62c.375,5.128,2.827,9.37,5.814,13.322.005.015,0,.031.007.046.1.223.208.444.315.664C603.913,225.194,603.73,225.345,603.554,225.5Zm27.461-30.234a4.621,4.621,0,0,0,.236,1.945,17.591,17.591,0,0,0-2.608-1.414C629.435,195.629,630.224,195.446,631.015,195.268Zm1.838,13.641c.231.039.462.083.692.128-1.16.329-2.483.473-3.407.826a12.932,12.932,0,0,0-1.921.967c-.129-.151-.256-.294-.365-.413C629.508,209.876,631.177,209.377,632.853,208.909Zm-8.105-17.349a6.719,6.719,0,0,0,1.116.061c.074,0,.148,0,.222-.006-.541.121-1.08.247-1.622.364A2.064,2.064,0,0,1,624.748,191.56Zm-.488,6.79c.124.061.262.126.409.2.236.255.481.507.725.756a37.4,37.4,0,0,0-4.2-.074c-.935-.116-1.876-.2-2.81-.322a2.881,2.881,0,0,1-.971-.193,17.656,17.656,0,0,0,1.126-1.375c.134-.188.256-.382.384-.573a3.524,3.524,0,0,0,.6,1.091c.368.462,1.54.1,2.7-.491C622.894,197.7,623.579,198.017,624.26,198.35Zm-6.334-8.416c.3-.35.6-.7.906-1.045A11.387,11.387,0,0,0,622.508,191c-.067.042-.138.078-.2.121-.29.187-.589.4-.886.629C621.281,190.646,619.5,189.943,617.926,189.934Zm-1-2.241c.952-1.192,1.842-2.323,3.517-2.187a12.652,12.652,0,0,1,2.295.483c-1.005,0-2.01.01-3.018.056-1.576.072-2.254.756-1.774,1.752a10.063,10.063,0,0,0-2.2,1.37Zm-4.806,23.661c.139,0,.276,0,.413-.013-.163.082-.323.169-.486.252C612.071,211.513,612.094,211.433,612.119,211.354ZM610.9,219.7a3.679,3.679,0,0,0-.006-1c-.009-.058-.006-.116-.013-.174a9,9,0,0,0,2.126-1.041c.377-.267.77-.5,1.155-.756a7.148,7.148,0,0,0,5.323,1.878,31.123,31.123,0,0,1-7.519.982A6.75,6.75,0,0,0,610.9,219.7Zm9.031,16.729a1.242,1.242,0,0,0-.637-.634,10.628,10.628,0,0,1-3.379-1.9q-.372-.319-.715-.67c-.095-.1-.186-.2-.278-.3-.317-.668-.615-1.344-.9-2.024a4.94,4.94,0,0,1,1.56,1.622c.26.42.876.542,1.609.491a2.491,2.491,0,0,0,1.649,2.45c.676.335,1.326.7,1.96,1.087,0,.085.006.168.008.253Q620.375,236.605,619.93,236.43Zm1.788,4.777a7.017,7.017,0,0,0-.83-.668,6.426,6.426,0,0,0,.8.041q.114.344.22.686Zm4.075-29.011a31.617,31.617,0,0,1-7.869,2.3,58.733,58.733,0,0,1,7.032-3.07c.586.109,1.178.2,1.767.276C626.418,211.874,626.111,212.044,625.793,212.2Zm2.4,31.088c.142-.189.316-.3.524-.213a1.559,1.559,0,0,0,.281.082c.133.164.254.335.371.509Zm4.664-13.481a1.038,1.038,0,0,0-.093.382,14.726,14.726,0,0,0-5.445,5.394l-.228-.179a24.381,24.381,0,0,1,1.868-2.15,2.5,2.5,0,0,0-.821-4.046c.107-.138.214-.277.329-.409a33.49,33.49,0,0,1,3.937.636,1.13,1.13,0,0,0,.77-.155A2.563,2.563,0,0,0,632.853,229.8Zm.945-1.187c.068-.229-.031-.441-.43-.54a28.538,28.538,0,0,0-3.589-.554,14.9,14.9,0,0,1,3.73-2.158,6.162,6.162,0,0,0,1.477,2.455A7.493,7.493,0,0,0,633.8,228.616Zm14.565-28.059,2.066,1.3c-.428-.021-.856-.036-1.285-.042-.175-.295-.339-.551-.469-.74-.146-.212-.307-.416-.465-.622C648.261,200.489,648.313,200.526,648.363,200.557Zm1.02-4.7c.235.011.47.028.705.042.112.2.223.39.332.563C650.077,196.255,649.732,196.052,649.383,195.86Zm-8.774-10.045c1.355-.537,2.183-.683,3.122.528.723.931,1.222,2.021,1.994,2.917a5.463,5.463,0,0,0,.516.507c-1.511-.656-3.081-1.313-4.716-2.056q-1.619-.736-3.205-1.3A8.387,8.387,0,0,0,640.609,185.815Zm1.137,4.645c1.1.335,2.271.7,3.449,1.121-1.1-.007-2.2.022-3.29.074A1.363,1.363,0,0,0,641.746,190.46Zm-.5,16.589a8.21,8.21,0,0,0-.952,1.538,8.37,8.37,0,0,0-.826-.945,3.768,3.768,0,0,0,.289-.371C640.25,207.188,640.746,207.113,641.245,207.049Zm2.539,17.38c.247-.374.324-.749-.063-.986-.839-.513-2.906,1.029-3.461,1.447a18.493,18.493,0,0,1-1.573,1.052,22.637,22.637,0,0,1,1.664-2.93q.738-.253,1.463-.527a.991.991,0,0,0,.806.151,64.164,64.164,0,0,0,6.637-3.7A26.885,26.885,0,0,1,643.784,224.429Zm8.974,11.815c.274-.363.558-.718.842-1.072q.213.038.426.054C653.6,235.561,653.175,235.9,652.758,236.244Zm2.014-25.3c-.156.226-.311.455-.465.683a.408.408,0,0,0-.431.128,18.991,18.991,0,0,1-5.019,5.211c-.283-.263-.647-.584-1.057-.932a12.589,12.589,0,0,0,2.951-3.72,2.343,2.343,0,0,0-.431-1.981,2.21,2.21,0,0,0,1.844-1.867,10.37,10.37,0,0,1,2.806,2.291A.693.693,0,0,0,654.772,210.943Zm2.411-8a1.739,1.739,0,0,0,.049-1.061l.3.123a5.512,5.512,0,0,0,.383,1.164C657.671,203.087,657.427,203.014,657.183,202.942Zm1.515-4.69c-.1-.135-.221-.287-.372-.459a26.915,26.915,0,0,0-9.02-6.632c.9.168,1.852.232,2.813.314a4.164,4.164,0,0,1,3.391,1.728c.726.982,1.236,2.118,2.057,3.032a6.809,6.809,0,0,0,1.945,1.426A4.386,4.386,0,0,0,658.7,198.252Zm10.2,16.675a18.97,18.97,0,0,1-3.369,9.149,41.707,41.707,0,0,1-5.525,6.19c3.618-5.04,7.381-10.132,8.916-15.583C668.908,214.764,668.9,214.846,668.894,214.927Z"/>
        <path id="Path_3697" data-name="Path 3697" d="M612.543,237.385a26.327,26.327,0,0,1,4.428,10.252c.606,3.1.828,5.106-1.1,7.606" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
        <path id="Path_3698" data-name="Path 3698" d="M617.45,249.652c-.554-1.575-3.134-3.023-4.554-3.9a13.745,13.745,0,0,1-3.966-3.007,11.268,11.268,0,0,1-1.234-2.266l-2.693-6c-.454-1.707.053-4.181-.644-5.8-.666-1.55-2.172-2.646-2.731-4.238" fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="1"/>
      </g>
      <g id="Group_2512" data-name="Group 2512">
        <path id="Path_3699" data-name="Path 3699" d="M610.732,441.6c-.016.105.385-.026.461-.028C611.071,441.437,610.627,441.631,610.732,441.6Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3700" data-name="Path 3700" d="M609.487,440.154l.173,0-.45-.184Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3701" data-name="Path 3701" d="M609.293,438.575c-.7.226.164.566-.039.873l-.155.068.587.049C609.542,439.244,609.108,438.841,609.293,438.575Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3702" data-name="Path 3702" d="M610.757,437.621c-.272.068-.254-.158-.07.193a.585.585,0,0,1,.068-.039A.373.373,0,0,1,610.757,437.621Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3703" data-name="Path 3703" d="M610.755,437.775c.034.157.223-.121,0,0Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3704" data-name="Path 3704" d="M610.551,437.046l.256.2c.162-.054.192-.241.313-.178C610.977,436.86,610.816,436.909,610.551,437.046Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3705" data-name="Path 3705" d="M610.023,436.867l.109.107C610.2,436.952,610.223,436.921,610.023,436.867Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3706" data-name="Path 3706" d="M610.362,437.2l-.23-.225c-.114.037-.345.052.084.105C610,437.07,610.209,437.107,610.362,437.2Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3707" data-name="Path 3707" d="M610.259,437.338c-.152.129-.241.294-.5.091C609.891,437.837,610.382,437.738,610.259,437.338Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3708" data-name="Path 3708" d="M608.551,438.565l-.193.191.251.122C608.484,438.817,608.772,438.533,608.551,438.565Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3709" data-name="Path 3709" d="M610.884,435.72a5.059,5.059,0,0,0-.6.091l.173.157C610.562,435.885,610.659,435.731,610.884,435.72Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3710" data-name="Path 3710" d="M610.284,435.811l-.259-.238C609.993,435.788,610.117,435.826,610.284,435.811Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3711" data-name="Path 3711" d="M609.23,436.861l.562.373-.573-.45Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3712" data-name="Path 3712" d="M610.91,434.827l.351.139-.53-.247Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3713" data-name="Path 3713" d="M610.869,434.229c.286.11.5-.114.673,0-.044-.161-.287-.309-.505-.446C611.156,433.919,611.116,434.056,610.869,434.229Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3714" data-name="Path 3714" d="M610.72,433.552a1.8,1.8,0,0,0,.317.228A.978.978,0,0,0,610.72,433.552Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3715" data-name="Path 3715" d="M610.1,435.165a.753.753,0,0,0,.435-.181l-.428.087Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3716" data-name="Path 3716" d="M610.1,435.074l.014,0,.025-.2Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3717" data-name="Path 3717" d="M610.1,435.189l0-.024C610.062,435.174,610.047,435.179,610.1,435.189Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3718" data-name="Path 3718" d="M609.591,436.211c-.249-.135-.5-.438-.865-.139C609.022,436.171,609.223,436,609.591,436.211Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3719" data-name="Path 3719" d="M609.567,435.3l-.1.258a.715.715,0,0,1,.4.019Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3720" data-name="Path 3720" d="M609.432,435.173l.135.128.037-.1Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3721" data-name="Path 3721" d="M610.3,433.965a.455.455,0,0,1-.213-.38.889.889,0,0,0-.15.437C610.069,434.048,610.306,434.122,610.3,433.965Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3722" data-name="Path 3722" d="M610.153,434.5l-.023-.025C610.093,434.491,610.081,434.5,610.153,434.5Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3723" data-name="Path 3723" d="M610.191,432.236l-.079.015.073.012Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3724" data-name="Path 3724" d="M609.855,434.043c-.088.107.013.178.142.246a.615.615,0,0,1-.061-.267C609.876,434.01,609.836,434.006,609.855,434.043Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3725" data-name="Path 3725" d="M610.539,433.169a1.429,1.429,0,0,0-.244.174C610.433,433.3,610.649,433.2,610.539,433.169Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3726" data-name="Path 3726" d="M610.25,434.444a.152.152,0,0,1,.018.017C610.361,434.428,610.316,434.431,610.25,434.444Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3727" data-name="Path 3727" d="M610.25,434.444a1.164,1.164,0,0,0-.253-.155.568.568,0,0,0,.133.188A.643.643,0,0,1,610.25,434.444Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3728" data-name="Path 3728" d="M607.5,431.546c.392.064.729.4.282.63.273.288,1.586.222,2.331.075a.664.664,0,0,1-.54-.318c-.223.067-.556.53-.893.278-.172-.369.165-.274.389-.421-.5.1-.676-.518-1.4-.523l.224.34C607.778,431.6,607.609,431.469,607.5,431.546Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3729" data-name="Path 3729" d="M610.028,432.732l.039.109c.08-.114.246-.187.568-.316a.754.754,0,0,0-.45-.262l-.1.51Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3730" data-name="Path 3730" d="M610.035,433.311c-.426-.109-.595-.379-1.069-.254.014.318.348.244.526.442-.082-.508.232.157.494-.188a.631.631,0,0,1,.1.274,1.273,1.273,0,0,1,.209-.242l-.027.009v0h-.006c-.055.017-.088.022-.056,0,0,0-.008-.01-.008-.01a1.3,1.3,0,0,1-.161-.033c.1-.137.113-.015.161.033l.064.01.005,0c-.073-.169-.139-.339-.2-.511A.631.631,0,0,0,610.035,433.311Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3731" data-name="Path 3731" d="M607.8,435.806a.253.253,0,0,1,.1-.017C607.849,435.755,607.813,435.742,607.8,435.806Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3732" data-name="Path 3732" d="M608.063,435.59c.06.038.232.069.186.191-.13.108-.206,0-.348.008.114.074.307.256.518.023l-.058-.036a1.475,1.475,0,0,1,.748-.435A4.75,4.75,0,0,0,608.063,435.59Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3733" data-name="Path 3733" d="M608.919,434.4l-.19-.434-.384.2.225,0C608.47,434.409,608.748,434.366,608.919,434.4Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3734" data-name="Path 3734" d="M610.409,432.209l.448.1-.619-.3Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3735" data-name="Path 3735" d="M610.4,431.669l.392.062-.222-.166Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3736" data-name="Path 3736" d="M625.078,406.856l.2-.026A.466.466,0,0,0,625.078,406.856Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3737" data-name="Path 3737" d="M624.01,406.35l-.1.173C624,406.44,624.052,406.377,624.01,406.35Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3738" data-name="Path 3738" d="M613.43,418.562c.41-.064,1.014-.063.582-.17-.141-.035-.281-.076-.424-.1A.222.222,0,0,1,613.43,418.562Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3739" data-name="Path 3739" d="M615.927,409.526l-.134-.05.216.374Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3740" data-name="Path 3740" d="M614.739,408.172l.408-.017A.976.976,0,0,0,614.739,408.172Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3741" data-name="Path 3741" d="M629.979,410.277l.439-.183C630.234,409.909,630.152,410.144,629.979,410.277Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3742" data-name="Path 3742" d="M611.171,426.153a.746.746,0,0,0,.338-.322C611.226,425.958,610.829,426.026,611.171,426.153Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3743" data-name="Path 3743" d="M622.754,410.842a.413.413,0,0,0,.187-.2A.314.314,0,0,0,622.754,410.842Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3744" data-name="Path 3744" d="M611.61,425.393a1.31,1.31,0,0,0-.119.057.508.508,0,0,1,.018.381C611.718,425.737,611.866,425.611,611.61,425.393Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3745" data-name="Path 3745" d="M640.052,426.711a.553.553,0,0,1-.028.061C640.078,426.751,640.073,426.732,640.052,426.711Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3746" data-name="Path 3746" d="M638.255,433.433a.742.742,0,0,1-.116-.188C638.127,433.292,638.157,433.351,638.255,433.433Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3747" data-name="Path 3747" d="M610.88,429.544c.01.118.045.026,0,0Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3748" data-name="Path 3748" d="M609.094,429.849a.458.458,0,0,0-.2-.077A.593.593,0,0,1,609.094,429.849Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3749" data-name="Path 3749" d="M609.27,423.6l0-.009C609.183,423.6,609.2,423.6,609.27,423.6Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3750" data-name="Path 3750" d="M610.658,429.685a.568.568,0,0,0,.151-.126A.585.585,0,0,0,610.658,429.685Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3751" data-name="Path 3751" d="M610.864,429.693l-.057.093C610.876,429.811,610.923,429.8,610.864,429.693Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3752" data-name="Path 3752" d="M610.882,429.383a.316.316,0,0,1-.073.176c.032-.017.058-.023.071-.015C610.879,429.51,610.878,429.462,610.882,429.383Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3753" data-name="Path 3753" d="M634.2,418.363c-.008.014-.01.026-.021.044C634.394,418.416,634.34,418.385,634.2,418.363Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3754" data-name="Path 3754" d="M610.61,413.947c0,.008.009.016.011.023l.022-.009Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3755" data-name="Path 3755" d="M610.551,413.388c.374.435.263.5.092.573l1.168.471Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3756" data-name="Path 3756" d="M627.483,408.339c0-.175.01-.344-.007-.526.738-.208.814.164.931-.469-.47.494-.7.312-1.08.07-.342-.236-.707-.422-1.1.126l-.062-.385c.056.053.109-.008.165.046-.095-.835-.84.63-1.266.165-.141-.187-.193-.433.015-.51-.2.028-.392.053-.584.09-.117-.079.008-.282.129-.2l-.728-.186.019-.035a6.653,6.653,0,0,1-.653.5c-.108-.243.13-.108.142-.283-.161.062-.316.119-.473.193a.445.445,0,0,1,.616-.476c.042-1.416-.411.211-1.02-.76.146-.031.288-.046.435-.067-.064-.823-.459-.618-.86-1.186.1.274.7,1.377.166,1.613-.1-.124-.263-.212-.546.019.076-.476-.188-.394-.492-.4l.092-.633c-.365.142-.367.481-.579.752-.358-.086-.425-.583-.516-1-.634-.1.418.79-.3.918-.5-.236-.871.053-1.38.53-.38-.157-.008-.4-.164-.555-.075.186-.145.372-.209.556-.076.006-.087-.152-.091-.233-.21.258.115.629-.213.9.045.355-.2.143-.518,0s-.711-.251-.768.229c-.207-.1-.106-.383-.251-.589-.154.237-.253.394-.243.473a1.708,1.708,0,0,0-.289,1.128l-.648.011c.585.119.632.835.78,1.371.236.09.435.176.54.206l-.064.564c-.113-.028-.25-.211-.394-.446a1.5,1.5,0,0,0,.056.167c-.287-.028-.51-.336-.69-.675.137.038.28.085.418.134a3.666,3.666,0,0,0-.7-.992.409.409,0,0,1,0,.254.525.525,0,0,0-.161-.213c-.062-.033,0,.109.054.286l-.617-.385.191.212-.814.266c.237.856.831,1.814.659,2.571-.326-.449-.677-.523-1.179-.886.655.211.116-.643.471-.892-.186.127-.391-.086-.442-.193l.058.934c-.405-.306-.4-.1-.676-.062.9.458.248.811.354,1.218-.289-.17-.545-.417-.278-.663-.849-.094.709,1.062-.03,1.021.039-.075.107-.085-.019-.2.142.324-.309.6-.5.352l.039-.075c-.4.41-.891,1.46-.185,1.951-.1-.049-.855-.571-.987-.686.662.766,1.334,1.512,2.029,2.24-.6-.425-2.3-.949-2.435-1.559-.155.069-.343.162-.251.533.137-.034,1.041.3,1.042.434a3.842,3.842,0,0,0-1.306.072c.2-.053,1.155.6,1.03.771a10.177,10.177,0,0,1-1.095-.609q.383.5.777.982a2.157,2.157,0,0,0-1.2-.441c.225.038-.225.455-.186.665a3.03,3.03,0,0,1,.341-.14c-.212.271.094.615.425.889s.7.538.58.8c-.2-.139-1.3-.616-1.53-.377.505.313,2.441,1.432,2.716,2.042l-.343-.007.243.481a21.264,21.264,0,0,1-2.843-2.276c-.317.13-.388-.062-.464.264a.369.369,0,0,1-.375-.416l-.429.682c.652.171.466.772,1.01.909l-.414-1.014c.648.175,1.674,1.042,1.4,1.52-.3.054-1.113-.45-1.33-.506.2.136.268.626.1.626l-.275-.326c-.335.219.71.733-.008.9-.077.109-.938.123-.562.255a13.764,13.764,0,0,1,3.6.93,5.843,5.843,0,0,1-1.289.45c-.634.037-1.3-.685-1.841-.656a1.174,1.174,0,0,1,.419.3c-.185.086-.533-.207-.529.095.645.228-.208.552.52.285.115.323-.213.252-.27.579a2.522,2.522,0,0,1,1.491.981,1.506,1.506,0,0,0-.505-.051c-.2.536-.568.761-.7,1.278-.174.009-.423.217-.685.043.1.1.31.224.291.389-.644.184-.01-.382-.753-.3.381.109.441.541.632.823.614.059.23-.5.041-.79a2.807,2.807,0,0,1,1.863,1.39c.113.464-.574.071-.473.169-.307.773,1.314.961.59,1.5-.579.164-1.055-.18-1.448-.192-.133-.388.438-.475.462-.714l-.3.243c-.155-.144-.243-.406-.066-.5-.514.132-.362,1.348-.89,1.91.16.142.314.363.542.3l-.043-.21c.457-.112.533.465.773.248.262.311.679.669.393,1l-.616-.014c.179.016.39-.191.222-.321.246.188-.9.457-.122.732l.454-.2c.272.3.879.7.646,1,.62-.076-.059-.083.673-.224-.9.089.139-.805-.82-.61.848-.123.39-.357,1.136-.557-.2-.02-.4.05-.259-.2a1.175,1.175,0,0,1-.167-.085l.018-.016-.026.011c-.028-.016-.034-.018-.009,0a.789.789,0,0,1-.326.09c-.438-.2-.355-.63-.569-.814.121-.146.219.1.445.052l-.319-.276c.446.051.8-.3,1,.121l.076-.331c.286-.152.435-.4.281-.6.126-.138-.412-.492-.093-.287l-.172-.58.111.018c.17-.5-.5-1.231.432-1.64a.633.633,0,0,1,.037-.674l.391.037c-.075-.256.538-.57.175-.766,1.077.027.506-1.012.795-1.353l-.483-.152a1.563,1.563,0,0,0-.056-.949l-.436-.106c-.272-.395.524-.653.624-1.12.154.082.075.184-.049.235,1.134-.239-.347-1.37.522-1.639-.115-.173-.032-.245.1-.3a.045.045,0,0,0,.012.037.142.142,0,0,0,.022-.048c.091-.03.194-.057.282-.1a.958.958,0,0,0-.275.067.848.848,0,0,0-.043-.435l.476.094a.1.1,0,0,0,0-.028c.2-.026-.186-.15-.549-.217a1.312,1.312,0,0,0-.22-.237c.743.216-.117-.4.7-.2-.343-.236.01-.738-.715-1.187.1.045.168.031.139.1.16-.1.318-.2.171-.437l.574.223-.561-.7a.948.948,0,0,1,.977.424c-.4-.795-.041-.49-.451-1.228l.333.215c.062-.143-.266-.628.065-.545.814.082,1-1.448,2.082-1.77-1.052-.533.658-.028-.055-.577.253.12.448.117.56.369.04-.523.727-.234.309-.942.245.136.26.325.413.394-.026-.065-.105-.254.048-.178s.142.187.2.314c.211-.321-.4-.911-.977-1.465.429.077.449,0,.188-.491.238.127.506.241.4.486.176-.156.7-.119.384-.667.074.076.11.034.133-.015a.221.221,0,0,0,.014-.1,1.776,1.776,0,0,0,.557-.2l-.112-.07c-.144-.77.191-.257.4-.4l.013.078c.667.417.21-.328.856.218l-.083-.474c-.031-.514.135-.376.319-.161s.384.537.553.334l-.12-.271c.226-.359.462,1.424.568,1.563.024.1-.068.132-.119.2.321.653.114-.619.458-.722.005.343-.2.84-.015.932.024.146.207-.1.431-.286.218-.174.482-.3.522.06.021-.27.027-.544.24-.677.295,0,.247,1.141.77.475a.532.532,0,0,1-.047.205c.255-.117.69-.044,1.023-.358-.34.753-.022.729.332.709.337-.013.7-.024.2.566l.544.382-.117.1c.242.356.6.186.969.024,0,.141-.151.2-.212.248.228.667.3.656,1.228.51l-.32.381c.324-.1.042,1.193.879,1.271a.494.494,0,0,1-.213.094c.925.143-.023,2.147,1.561,1.217l.64.1c-.26-.574.679-.4.764-.789.231.135-.059.838-.31.653l.044-.092c-.814.481.186.815-.339,1.181.748.935.969,2.194,1.528,3.156l.547-.5.176.354c-.089.178-.41.421-.534.171-.273.344.545.208.685.132.042.618-.839.271-.764.422l.168.161.046-.087c.353,0,.628-.152.772.156-.016.259-.33.327-.311.414-.045.026-.051.063.048.121l.2.454.395-.464c.357.043.214.416.659-.114-.685.794.61,1.8.442,2.13a.867.867,0,0,1,.794.7c.061-.14.606-.5.691-.17-1.238.526-.229.8-.959,1.484.461-.507.563.751,1.2.006.028.294-.438.245-.625.573.759.343.345,1.423.845,2.065.164-.065.348-.3.659-.261l-.609.761c.146.1.983-.306.553.219.117-.1.293-.252.389-.179-.113,1.78,1.989,2.657,1.132,4.768.229-.332.317-.213.393-.065.033-.131.4-.167.613-.279l-.352.876c.657-.141.315.647.927.472l-.186-.154c.8-.019,1.382-1,2.283-1.328-.906.029.834-1.277-.5-1.294.134-.184.324-.028.5-.173-.431.036-.573-.079-.523-.429l.107-.009c-.422-.742-.21-1.232-.351-2.221l-.4.26c-.026-.214.093-.315.16-.452-.751.083.2.543-.61.674.771-.648-.592-1.317.324-1.948-.128-.291-.457.317-.584.027l.232-.2-.379.09c-.03-.215.257-.468.48-.583,0,.059.127.1.17.139.2-.394-.441-.636-.379-.769l-.031.355c-.621-.661-.749-1.786-1.669-2.257l-.17.159c-.655-.378-.015-.568-.514-1.1l.059,0a.55.55,0,0,1-.518-.311c.314.032.291-.536.655-.468-.719-.4-.465-.141-1.416-.139l.273-.271c-.37.027-.531.1-.785-.153.418.093.383-.472.908-.4.339-1.044-1.242-.546-.393-1.431-1.057.227-.169.837-.457.785-.213.3-.8.142-.829-.1-.1-.21.927-1.007.6-1.511.026.053.1.017.121.07.109-.328-.526-.191-.3-.648-.609.2-.161-.32-.856.062l.443.365c-.334-.159-1.279.1-1.167-.569a1.382,1.382,0,0,1,.569-.013c.117-.251-.285-.158-.165-.417.692-.389.5.466,1.193.428.2-.314-.826-.229-.009-.543-1.052.379-.2-.575-1.122-.466l.413-.236c-.1-.014-.357,0-.41-.109l.63-.157c-.612.009.029-.786-.389-.894.39.545-.39.443-.52.866-.984-.315.765-1.081.053-1.72.126.066.031.551-.26.515a1.243,1.243,0,0,1,.142-.729c-.441-.443-.341.358-.733.315.347-.5-.369-.105-.675-.208l.388-.286c-.164-.744-.918.449-.985-.272l.691-.19-.332-.159.478-.276c-.535-.043-.516-.193-.617-.562-.217.273-.719.5-.921.275.093-.342.432-.194.105-.492.3-.113.661-.263.433.163.136-.082.3-.111.434-.191.114-.385-.305-.5-.408-.622a.268.268,0,0,1,.021.207l-.916-.073c.076-.194.237-.226.4-.256-.121-.068-.347.005-.507-.11.331-.216.636-.49.953-.4l-.739-.188c.1-.142.141-.547.3-.582-.066-.416-1.121-.136-1.217-.671a.362.362,0,0,1-.268.019c-.235-.368-.17-.988-.908-.972l.271-.712c-.414-.16-.315.91-1,.65-.5-.152.275-.56.281-.818-.431.093-1.176.378-1.167-.364C627.348,408.139,627.34,408.284,627.483,408.339Zm-5.207-2.275c.127-.079.422-.335.432-.034C622.453,406.532,622.429,406.257,622.276,406.064Zm-7.508,3.372c-.077-.157.057-.192.274-.164C615.014,409.366,614.935,409.429,614.768,409.436Zm-4.065,18.8-.021-.013C610.9,428.069,610.816,428.121,610.7,428.234Zm-.279.349a.257.257,0,0,0,.2.055c-.117-.048-.108-.137-.055-.229C610.434,428.414,610.337,428.449,610.424,428.583Zm21.683-7.42.068-.132C632.384,421.11,632.251,421.132,632.107,421.163Z" fill="#202020"/>
        <path id="Path_3757" data-name="Path 3757" d="M614.873,408.333a.957.957,0,0,1,.218.151A.21.21,0,0,0,614.873,408.333Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3758" data-name="Path 3758" d="M629.9,410.311l.006.015a.432.432,0,0,0,.074-.049Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3759" data-name="Path 3759" d="M607.86,421.507a.519.519,0,0,1,.284-.093A.213.213,0,0,0,607.86,421.507Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3760" data-name="Path 3760" d="M610.928,430.743l-.094-.261c.009.122-.1.15-.184.2C610.762,430.691,610.93,430.666,610.928,430.743Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3761" data-name="Path 3761" d="M607.728,432.624c.056.043,0,.082.056.124l.224.006C608.008,432.592,607.838,432.464,607.728,432.624Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3762" data-name="Path 3762" d="M609.309,430.77c-.405-.03-.289.147-.237.334a.058.058,0,0,1,0-.032C609.634,431.19,609.471,430.981,609.309,430.77Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3763" data-name="Path 3763" d="M609.081,431.146a.248.248,0,0,1-.011.166C609.294,431.358,609.126,431.251,609.081,431.146Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3764" data-name="Path 3764" d="M610.611,429.119c-.116.065.5.135.333.154C611.439,429.449,610.414,428.626,610.611,429.119Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3765" data-name="Path 3765" d="M607.964,430.752l.505,0-.388-.151Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3766" data-name="Path 3766" d="M608.524,429.37l-.184.268a.192.192,0,0,1,.157.1C608.542,429.565,608.672,429.386,608.524,429.37Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3767" data-name="Path 3767" d="M608.5,429.74a.221.221,0,0,0,.05.244A.51.51,0,0,0,608.5,429.74Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3768" data-name="Path 3768" d="M607.865,430.335l.115-.073.062-.2Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3769" data-name="Path 3769" d="M609.183,426.307l-.072-.341c-.161-.069-.282-.006-.241.125C608.97,426.191,609.01,426.32,609.183,426.307Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3770" data-name="Path 3770" d="M607.645,426.986a.973.973,0,0,1,.4-.067l-.608-.13Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3771" data-name="Path 3771" d="M607.691,426.026c-.161-.067-.381-.568-.432-.153C607.419,425.941,607.489,426.29,607.691,426.026Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3772" data-name="Path 3772" d="M609.637,421.487l-.015.081.983.268Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3773" data-name="Path 3773" d="M608.6,416.636c-.353.293.567.287.169.524.2.162.325-.194.493-.039C609.092,416.82,609.268,416.745,608.6,416.636Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3774" data-name="Path 3774" d="M609.26,417.121a1.013,1.013,0,0,0,.11.162A.5.5,0,0,0,609.26,417.121Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3775" data-name="Path 3775" d="M638.086,434.456l-.105.3.258-.273Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3776" data-name="Path 3776" d="M638.961,434.6l-.579.3.6-.087C638.933,434.766,638.841,434.69,638.961,434.6Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3777" data-name="Path 3777" d="M621.608,404.623l-.046.152c.031.174.106.2.258.245Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3778" data-name="Path 3778" d="M625.729,406.479l-.06-.05-.161.584Z" fill="#e4d9cd" style="isolation: isolate"/>
        <path id="Path_3779" data-name="Path 3779" d="M629.031,408.04c-.08-.105-.282-.111-.362-.217C628.952,407.936,628.56,408.6,629.031,408.04Z" fill="#e4d9cd" style="isolation: isolate"/>
      </g>
    </g>
    <g id="Layer_5" data-name="Layer 5">
      <path id="Path_3216" data-name="Path 3216" d="M657.162,358.026c-2.986-5.286-10.506-7.7-16.443-6.433-9.333,2-20.531,6.885-20.235,20.5.193,8.856.545,16.548.893,22.534a10.574,10.574,0,0,0,13.263,9.629c9.436-2.521,19.8-2.885,23.335,2.692,6.092,9.6,31.219,35.392,31.219,35.392S673.048,386.143,657.162,358.026Z" style="isolation: isolate" [class]="selected == '3216' ? 'c d' : 'e'" (click)="tapOnBodyPart('3216', 'Hanche droite', '12')"/>
      <path id="Path_3217" data-name="Path 3217" d="M577.711,363.891c3.118-5.21,13.471-11.543,19.408-10.271,9.332,2,21.993,7.222,21.7,20.838-.193,8.856-.544,16.548-.891,22.534a10.575,10.575,0,0,1-13.264,9.629c-9.436-2.521-16.6-3.931-20.142,1.647-6.092,9.6-13.583,40.7-13.583,40.7s-.518-8.773,0-20.759c.263-6.06,2.024-12.482,1.74-19.942C572.072,392.425,566.957,381.859,577.711,363.891Z" style="isolation: isolate" [class]="selected == '3217' ? 'c d' : 'e'" (click)="tapOnBodyPart('3217', 'Hanche gauche', '12')" />
      <path id="Path_3218" data-name="Path 3218" d="M630.572,249.493l-4.1,26.779s-15.221-8-25.758-9.542c0,0,17.855-.924,24-17.237Z" style="isolation: isolate" [class]="selected == '3218' ? 'c d' : 'e'" (click)="tapOnBodyPart('3218', 'Épaule gauche', '15')"/>
      <path id="Path_3219" data-name="Path 3219" d="M632.658,249.493l-1.012,25.7s20.248-2.806,33.372-1.09c0,0-21.449-6.136-25.26-22.873Z" style="isolation: isolate" [class]="selected == '3219' ? 'c d' : 'e'" (click)="tapOnBodyPart('3219', 'Épaule droite', '15')"/>
      <path id="Path_3220" data-name="Path 3220" d="M631.646,278.4s-17.408,63.57,22.309,73.189c0,0,10.706-45.51,11.063-75.322Z" style="isolation: isolate" [class]="selected == '3220' ? 'c d' : 'e'" (click)="tapOnBodyPart('3220', 'Dos', '2')"/>
      <path id="Path_3221" data-name="Path 3221" d="M626.354,279.627s-19.1-7.9-26.047-9.529c0,0-22.733,20.963-16.2,40.02s3,39.2,3,39.2,29.675,1.09,34.847-29.13S626.354,279.627,626.354,279.627Z" style="isolation: isolate" [class]="selected == '3221' ? 'c d' : 'e'" (click)="tapOnBodyPart('3221', 'Dos', '2')"/>
      <path id="Path_3222" data-name="Path 3222" d="M577.468,499.814c-2.973,6.243-8.731,17.991-6.085,34.4s7.144,44.185,8.2,46.566,8.2,5.556,10.319-3.7,8.754-31.8,9.547-45.027a76.564,76.564,0,0,0-4.113-31.176C592.281,491.513,580.441,493.572,577.468,499.814Z" style="isolation: isolate" [class]="selected == '3222' ? 'c d' : 'e'" (click)="tapOnBodyPart('3222', 'La jambe gauche', '6')"/>
      <path id="Path_3223" data-name="Path 3223" d="M575.9,483.824s-5.027-29.1,2.381-48.153,6.879-26.722,18.521-26.458,14.816,10.054,14.287,19.314-8.2,45.243-12.435,53.445-7.147-23.018-7.147-23.018Z" style="isolation: isolate" [class]="selected == '3223' ? 'c d' : 'e'" (click)="tapOnBodyPart('3223', 'Cuisse gauche', '6')"/>
      <path id="Path_3224" data-name="Path 3224" d="M637.362,412.245c-5.323,7.2,9.863,20.2,13.307,35.068s15.474,30.134,22.009,37.7,4.127-21.325,4.127-21.325l17.885,21.325s-1.066-15.482-3.474-24.081-7.488-16.489-24.423-36.008S642.685,405.043,637.362,412.245Z" style="isolation: isolate" [class]="selected == '3224' ? 'c d' : 'e'" (click)="tapOnBodyPart('3224', 'Cuisse droite', '6')"/>
      <path id="Path_3225" data-name="Path 3225" d="M698.819,574.785c-8.944-11.694-27.516-45.4-23.389-74.638s22.7-4.471,23.389,5.847,9.631,54.688,9.631,60.536S707.762,586.48,698.819,574.785Z" style="isolation: isolate" [class]="selected == '3225' ? 'c d' : 'e'" (click)="tapOnBodyPart('3225', 'Jambe droite', '6')"/>
      <path xmlns="http://www.w3.org/2000/svg" id="Path_3782" data-name="Path 3782" d="M617.66,240.749s-7.08-13.516-8.8-16.734-6.818-11.72-4.935-16.52,14.5-22.019,30.593-17.3,32.493,13.787,28.417,26.659-21.581,28.124-21.581,28.124Z" fill="#8a7c5b" [class]="selected == '3782' ? 'c d' : 'e'" (click)="tapOnBodyPart('3782', 'Tête', '1')"/>
    </g>
  </g>
</svg>