svg {
  display: block;
  width: 100%;
  height: 66vh;
  .a{fill:#fad7c6;}
  .b{fill:none;stroke:#e2b7a6;}
  .b,.c,.d{stroke-miterlimit:10;}
  .c{fill:#70826a;}
  // .c,.d{stroke:#fbded0;}
  .e {fill:#8a7c5b; opacity: 0.8;}
}