<ion-header class="ion-no-border">
  <ion-toolbar class="video-listing-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">{{category.name}}</ion-title>
    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="dark" style="width: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="video-listing-body">
  <div *ngIf="!isVideos" class="no-data">
    Aucune vidéo trouvée
  </div>
  <div class="post-wrapper" (click)="goToDetails(item)" *ngFor="let item of mentalVideos">
    <div class="post-img">
      <img [src]="item.image">
      <img src="./assets/imgs/ytube.png" class="ytube-logo" />
    </div>
    <div class="post-title">{{item.title}}</div>
    <div class="post-description" [innerHTML]="global.changeSanitizerHtml(item.content)"></div>
  </div>
</ion-content>
