
<ion-content class="feedback-health-modal-content">
  <div class="upper-part">
    <div class="feedback-heading">Comment tu te sens maintenant?</div>
    <ion-grid style="width: 90%; padding-bottom: 30px;">
      <ion-row class="ion-align-items-center emoji-row">
        <ion-col class="ion-align-self-center">
          <div class="emoji-name top">Tres bien!</div>
          <div [class]="selectedEmoji == 1 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('1')">
            <img src="./assets/imgs/face1.svg">
          </div>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div class="emoji-name top">Bien</div>
          <div [class]="selectedEmoji == 2 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('2')">
            <img src="./assets/imgs/face2.svg">
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center emoji-row">
        <ion-col class="ion-align-self-center">
          <div [class]="selectedEmoji == 3 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('3')">
            <img src="./assets/imgs/face3.svg">
          </div>
          <div class="emoji-name bottom">Moyen</div>
        </ion-col>
        <ion-col class="ion-align-self-center">
          <div [class]="selectedEmoji == 4 ? 'emoji-img-wrap selected' : 'emoji-img-wrap'" (click)="selectFeedback('4')">
            <img src="./assets/imgs/face4.svg">
          </div>
          <div class="emoji-name bottom">Bof</div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="sendFeedback()">
      Envoyer des commentaires
    </ion-button>
  </div>
</ion-content>
