.payment-history-toolbar {
  --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}
.history-payment-content {
  --background: var(--ion-color-secondary);
  .item-wrapper {
    background: #ffffff;
    // margin: 20px auto;
    box-shadow: 0 0 25px rgb(134 137 154 / 16%);
    margin: 20px 24px;
    padding: 20px;
    border-radius: 10px;
    .amount-type-wrapper {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      .amount {
        font-size: 18px;
        font-weight: 600;
        flex: 0 0 26%;
      }
      .type {
        font-size: 15px;
        font-weight: 600;
        letter-spacing: 0.3px;
        line-height: 16px;
      }
    }
    .date-time-invoice-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .date-time {
        .date {
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 0.3px;
          padding-bottom: 6px;
        }
        .time {
          color: #646465;
          font-size: 14px;
        }
      }
      .invoice-link {
        color: var(--ion-color-primary);
        border-bottom: 1px dashed var(--ion-color-primary);
        width: fit-content;
        font-size: 15px;
      }
    }
  }
}