<ion-header class="ion-no-border">
  <ion-toolbar class="payment-history-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Historique de paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="history-payment-content">
  <div class="item-wrapper" *ngFor="let data of paymentHistory">
    <div class="amount-type-wrapper">
      <div class="amount">{{data?.amount}}</div>
      <div class="type">{{data?.plan}}</div>
    </div>
    <div class="date-time-invoice-wrapper">
      <div class="date-time">
        <div class="date">{{data?.date}},</div>
        <div class="time">{{data?.time}}</div>
      </div>
      <!-- <div class="invoice-link" (click)="getInvoice(data?.download_url)">Download Invoice</div> -->
      <div class="invoice-link" (click)="getInvoice(data?.download_url)">Telechargez ici</div>
    </div>
  </div>
</ion-content>
