.login-body {
  --background: var(--ion-color-secondary);
  .login-container{
    max-width: 450px;
    margin: 0 auto;
    overflow: scroll;
    .headimg {
      height: 76px;
      width: 76px;
      margin: 16px 0 0 18px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .logo-container{
      padding: 10px;
      text-align: center;
      height: 30%;
      display: flex;
      img {
        width: 50%;
        margin: 0 auto;
      }
    }
    .info-container{
      // text-align: center;
      height: 6%;
      width: 84%;
      margin: 0 auto;
      // align-items: center;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      h4{
        padding: 0;
        margin: 0;
      }
      h5{
        padding: 0;
        margin: 5px 0;
        font-weight: 600;
      }
    }
    .input-container{
      height: 30%;
      width: 84%;
      margin: 0 auto;
      margin-bottom: 24px;
      .form-list {
        background: transparent;
        .input-label {
          font-size: 13px;
          letter-spacing: 0.5px;
        }
        .input-item {
          border: 1px solid #000000;
          border-radius: 5px;
          --padding-start: 0 !important;
          --inner-padding-end: 0;
          margin-top: 5px;
          --min-height: 37px;
          background: #fff;
          &.item-has-focus {
            --highlight-background: none !important;
            border: 2px solid #000000;
          }
          &.ion-dirty {
            --highlight-background: none !important;
          }
          &.ion-invalid {
            --highlight-background: none !important;
          }
          // &:last-child {
          //   margin-top: 10px;
          // }
          .input-text {
            font-size: 13px;
            letter-spacing: 0.5px;
            --padding-start: 10px;
            --padding-end: 10px;
            height: 40px;
          }
          .input-hide-icon {
            margin: 0 12px 0;
            width: 20px;
          }
        }
        // .input-item:last-child {
        // 	border-bottom: 1px solid var(--ion-color-dark);
        // 	box-shadow: none;
        // }
        .invalid {
          padding-top: 5px;
          font-size: 75%;
          color: #8b0000;
        }
        //   .item-inner{
        //       box-shadow: none !important;
        //       border-bottom-color: none !important;
        //   }
      }
    }
    .button-container{
      // width: 90%;
      margin: 14px auto 20px;
      // .light-outline-button {
      //   height: 42px;
      //   margin: 0;
      //   --box-shadow: none;
      //   background: #fff;
      // }
      p {
        text-align: center;
        font-size: 14px;
        margin: 3% 0 6%;
        line-height: 1.4;
      }
      // p.create-ac {
      //   font-size: 14px;
      //   margin: 3% 0 6%;
      //   text-align: center;
      // }
    }
  }
}