
<ion-content padding class="login-body">
  <div class="login-container">
    <div class="headimg">
      <img src="./assets/imgs/login-icon.png">
    </div>
    <div class="logo-container">
      <img src="./assets/imgs/login-logo.svg">
    </div>
    <div class="info-container">
      <h5>S'identifier</h5>
    </div>
    <div class="input-container">
      <form [formGroup]="loginForm">
        <ion-list class="form-list">
          <!-- <ion-label color="dark" position="stacked" class="input-label">Nom d'utilisateur</ion-label> -->
          <ion-label color="dark" position="stacked" class="input-label">Email de l'utilisateur</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!loginForm.controls.email.valid && (loginForm.controls.email.dirty)" class="invalid">* Entrez une adresse e-mail ou un numéro de téléphone valide
            </span>
          </div>
          <ion-label color="dark" position="stacked" class="input-label">Mot de passe</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input [type]="passwordType" formControlName="password" placeholder="" class="input-text"></ion-input>
            <ion-icon [name]="passwordIcon" slot="end" color="primary" class="input-hide-icon" (click)='hideShowPassword()'></ion-icon>
          </ion-item>
        </ion-list>
        <div class="button-container">
          <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="login()" [disabled]="!loginForm.valid">
            S'identifier
          </ion-button>
          <p style="color:#000000" class="forgot" (click)="forgetPassword()">Mot de passe oublié?</p>
          <p class="create-ac">Vous n'avez pas de compte ? <span style="color:#70826A;" routerLink="/registration">Créer un compte</span></p>
          <ion-button expand="block" class="light-outline-button" fill="outline" style="font-size: 13px;" (click)="visit()">
            PREMIÈRE VISITE
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
