<ion-header class="ion-no-border">
  <ion-toolbar class="cms-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title style="font-size: 16px;">{{pageData?.page_title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [innerHTML]="pageData?.page_content" class="page-content"></div>
</ion-content>
