<ion-header class="ion-no-border">
  <ion-toolbar class="mental-exercise-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">
      <!-- Mental -->
    </ion-title>
    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="dark" style="width: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="mental-exercise-body">
  <div *ngIf="mentalCategories.length > 0">
    <div class="type-wrapper" *ngFor="let item of mentalCategories; let i=index">
      <div [class]="selectedIndex == i ? 'highlight type' : 'type'" (click)="selectItem(i, item)">
        <div class="inner-wrapper">
          <div class="name">{{item.name}}</div>
          <div class="selected-img" *ngIf="selectedIndex == i"><img src="./assets/imgs/selected.png"></div>
          <div class="unselected" *ngIf="selectedIndex != i"></div>
        </div>
      </div>
    </div>
    <!-- <div class="go-btn-wrap">
      <ion-button class="go-btn ion-text-capitalize" (click)="goToPhysicalExercise()">Va
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </div> -->
    <div class="bottom-img">
      <img src="./assets/imgs/login-icon.png">
    </div>
  </div>
</ion-content>
