.mental-exercise-toolbar {
  --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}
.mental-exercise-body {
  --background: var(--ion-color-secondary);
  .type-wrapper {
    padding: 30px 28px 0;
    .type {
      background: #fff;
      border-radius: 10px;
      width: 100%;
      color: #121F3E;
      padding: 30px;
      text-shadow: 0 0 black;
      box-shadow: 0 0 25px rgb(156 179 204 / 30%);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
      &.highlight {
        background: var(--ion-color-primary);
        color: #fff;
        text-shadow: 0 0 #fff;
      }
      .inner-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .name {
          width: calc(100% - 54px);
        }
        .selected-img {
          flex: 0 0 34px;
          width: 34px;
          height: 34px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .unselected {
          flex: 0 0 34px;
          width: 34px;
          height: 34px;
          border: 1px solid #ddd;
          border-radius: 50%;
          background: #FCFCFC;
        }
      }
    }
  }
  .go-btn-wrap {
    text-align: center;
    padding: 20px 0 10px;
    .go-btn {
      --border-radius: 20px;
      --box-shadow: none;
      --background: #e0e0e0;
      color: #70826a;
    }
  }
  .bottom-img {
    width: 40%;
    margin: 40px auto 20px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}