.human-body-content {
  .front-back-wrapper {
    padding-bottom: 30px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    .front-back {
      border-radius: 5px;
      width: 28%;
      border: 1px solid #132A4B;
      color: #121F3E;
      padding: 10px 6px;
      text-shadow: 0 0 #fff;
      text-align: center;
      &:first-child {
        margin-right: 12px;
      }
      &.highlight {
        color: #fff;
        background: var(--ion-color-primary);
      }
    }
  }
  .human-body {
    width: 88%;
    margin: 0 auto;
    // height: 66vh;
    // text-align: center;
    // // padding-top: 12px;
    // img {
    //   height: 100%;
    // }
  }
  .body-part {
    text-align: center;
    padding: 18px 40px;
    font-size: 15px;
    color: #121F3E;
    text-shadow: 0 0 0 #121f3e;
    height: 60px;
  }
  .go-btn-wrap {
    text-align: center;
    padding-bottom: 12px;
    .go-btn {
      --border-radius: 20px;
      --box-shadow: none;
    }
  }
}