<ion-header class="ion-no-border">
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="dark" style="width: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="human-body-content">
  <div class="front-back-wrapper">
    <div [class]="selectedIndex == 1 ? 'highlight front-back' : 'front-back'" (click)="selectItem(1)">De face</div>
    <div [class]="selectedIndex == 2 ? 'highlight front-back' : 'front-back'" (click)="selectItem(2)">Dos</div>
  </div>
  <div class="human-body">
    <app-frontsvg *ngIf="selectedIndex == 1"></app-frontsvg>
    <app-backsvg *ngIf="selectedIndex == 2"></app-backsvg>
  </div>

  <div class="body-part">{{global.bodyPartSelected}}</div>
  <!-- <div class="go-btn-wrap">
    <ion-button class="go-btn ion-text-capitalize" (click)="goToPhysicalExercise()">Va
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div> -->
</ion-content>
