<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-header class="ion-no-border">
				<div class="profile_box">
					<div class="profile_img center_img">
						<img [src]="global.isLoggedIn ? global.userdetails?.profile_img : 'assets/imgs/login-icon.png'"
							class="crop_img">
					</div>
					<div class="profile_details">
						<div class="name">{{global.isLoggedIn ? global.userdetails?.fname + ' ' + global.userdetails?.lname : 'Salut
							l\'utilisateur' }}</div>
						<div class="email">{{global.isLoggedIn ? global.userdetails?.email : "Bienvenue chez l'ostéo" }}</div>
					</div>
				</div>

				<div class="first-section" *ngIf="!global.isLoggedIn || (global.isLoggedIn && !global?.userdetails?.plan)">
					<ion-button expand="block" class="ion-text-capitalize premium" (click)="goToPremium()">
						<ion-icon slot="start" src="./assets/imgs/crown.svg"></ion-icon>
						Passer à la version premium
					</ion-button>
				</div>
			</ion-header>
			<ion-content>
				<ion-list lines="none">
					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn && global?.userdetails?.plan"
						(click)="goToTestimonial()">
						<ion-item detail="false" [routerDirection]="'root'">
							<div class="item_inner d-flex">
								<div class="menu-options">Présentation</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" (click)="goToCMSPage('about-us')">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<div class="menu-options">Qui suis-je ?</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn" (click)="goToContact()">
						<ion-item detail="false" [routerDirection]="'root'">
							<div class="item_inner d-flex">
								<!-- <div class="menu-options">Stage/Soin/cours</div> -->
								<div class="menu-options">Contactez-nous</div>

							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn" (click)="goToBlogs()">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<!-- <div class="menu-options">Nouveautés Blog</div> -->
								<div class="menu-options">Blog</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<!-- <ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn && global?.userdetails?.plan"
						(click)="goToHygine()">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								!-- <div class="menu-options">Hygiène Ostéopathique</div> --
								<div class="menu-options">Qui suis-je ?</div>
							</div>
						</ion-item>
					</ion-menu-toggle> -->

					<!-- New added -->
					<ion-menu-toggle auto-hide="false" (click)="goToCMSPage('notice')">
						<ion-item detail="false" *ngIf="true">
							<div class="item_inner d-flex">
								<div class="menu-options">Notice</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" (click)="goToCMSPage('faq')">
						<ion-item detail="false" *ngIf="true">
							<div class="item_inner d-flex">
								<!-- <div class="menu-options">Notice/FAQ/Forum </div> -->
								<div class="menu-options">FAQ/Forum </div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" (click)="goToProfile()" *ngIf="global.isLoggedIn">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<div class="menu-options">Comptes</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" (click)="goToCMSPage('terms-conditions')">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<div class="menu-options">Conditions générales</div>
								<!-- //About us -->
							</div>
						</ion-item>
					</ion-menu-toggle>

					<!-- <ion-menu-toggle auto-hide="false" (click)="goToMyHistory()"
						*ngIf="global.isLoggedIn && global?.userdetails?.plan">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<div class="menu-options">Historique de navigation</div>
							</div>
						</ion-item>
					</ion-menu-toggle>
					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn && global?.userdetails?.plan"
						(click)="goToPaymentHistory()">
						<ion-item detail="false" [routerDirection]="'root'">
							<div class="item_inner d-flex">
								<div class="menu-options">Historique de paiement</div>
							</div>
						</ion-item>
					</ion-menu-toggle> -->

					<ion-menu-toggle auto-hide="false" (click)="goToCMSPage('privacy-policy')">
						<ion-item detail="false">
							<div class="item_inner d-flex">
								<div class="menu-options">Politique de confidentialité</div>
								<!-- //About us -->
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn">
						<ion-item detail="false" [routerDirection]="'root'" (click)="logout()" style="padding-top: 34px;">
							<div class="item_inner d-flex">
								<div class="menu-options" style="font-weight: 600;">Se déconnecter</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

					<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn">
						<ion-item detail="false" [routerDirection]="'root'" (click)="deleteAccount()" style="margin-top:15px;box-shadow: 0px 0px 10px -4px #70826A;
						margin-bottom: 10px;
						border-radius: 10px;margin-left:20px;margin-right:20px;
						padding: 15px;">
							<div class="item_inner d-flex" style="width: 100%">
								<div class="menu-options" style="font-weight: 600;
								text-align: center;
								color: #70826A;
								width: 100%;">Supprimer le compte</div>
							</div>
						</ion-item>
					</ion-menu-toggle>


					<ion-menu-toggle auto-hide="false" *ngIf="!global.isLoggedIn">
						<ion-item detail="false" [routerDirection]="'root'" (click)="login()" style="padding-top: 34px;">
							<div class="item_inner d-flex">
								<div class="menu-options" style="font-weight: 600;">Connexion</div>
							</div>
						</ion-item>
					</ion-menu-toggle>

				</ion-list>
				<div class="social-wrapper">
					<div class="social_img" *ngFor="let item of socialLink"><img [src]="item.image"
							(click)="openLink(item.link)" /></div>
					<!-- <div class="social_img"><img src="assets/imgs/tweet.svg"></div>
					<div class="social_img"><img src="assets/imgs/insta.svg"></div>
					<div class="social_img"><img src="assets/imgs/youtube.svg"></div> -->
				</div>
			</ion-content>
		</ion-menu>
		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>