
ion-menu {
  --background: rgba(0, 0, 0, 0);
  background: rgba(0, 0, 0, 0);
  --width: 82%;

  ion-header {
    background: #fff;
    // background: rgba(238, 238, 238, 0);
    .profile_box {
      background: #fff;
      // background: rgb(33 33 33 / 90%);
      padding: 40px 18px 28px 26px;
      position: relative;
      // z-index: 99;
      text-align: center;
      display: flex;
      align-items: center;

      .profile_img {
        min-width: 57px;
        height: 57px;
        border-radius: 50%;
        margin-right: 15px;
        flex: 0 0 57px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .profile_details {
        width: calc(100% - 70px);
        .name {
          text-align: left;
          line-height: 18px;
          padding: 0;
          font-size: 14px;
          font-weight: 600;
        }
        .email {
          font-size: 13px;
          text-align: left;
        }

      }
    }
    .first-section {
      width: 84%;
      margin: 0 auto 15px;
      background-color: #fff;
      .premium {
        --box-shadow: none;
        --color: #fff;
        font-weight: 500;
        font-size: 12px;
        --background: var(--ion-color-primary);
        height: 48px;
        margin: 0;
        --background-activated: #fff;
        ion-icon {
          width: 42px;
          height: 25px;
        }
      }
    }
  }

  ion-content {
    // --background: rgba(238, 238, 238, 0);
    // backdrop-filter: blur(5px);

    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.72);
      display: block !important;
    }

  }

  ion-list {
    // background: var(--transparent) !important;
    padding: 0;
    width: calc(100% - 36px);
    margin: 0 auto;
    padding-top: 0;
    position: relative;
    z-index: 999;

    ion-item {
      padding: 18px 7px;
      --inner-padding-end: 0px;
      --inner-min-height: unset !important;
      --padding-start: 0;
      --highligh-color-focused: var(--transparent) !important;
      --background: var(--transparent);
      --min-height: unset;

      .img_box {
       width: 18px;
       margin-right: 11px;
       min-width: 18px;
       height: 18px;
       img {
         filter: invert(0.3);
       }
      }
      .menu-options {
       color: #121F3E;
       font-size: 13px;
      }

      h2 {
        margin: 0;
        color: var(--white);
        font-weight: 400;
        font-size: .8rem;
        letter-spacing: .5px;
      }
    }
  }

  .social-wrapper {
    width: calc(100% - 46px);
    margin: 20px auto;
    display: flex;
    .social_img {
      width: 36px;
      height: 36px;
      &:not(:last-child) {
        margin-right: 10px;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
