

.user-type-toolbar {
  --background: transparent;
}
.user-type-body {
  // --background: url('../assets/imgs/category-background.svg') 0 0/100% 100% no-repeat;
  .type-wrapper {
    text-align: center;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    .choose-category {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 40px;
    }
    .type-image {
      width: 44%;
      height: 44%;
      margin: 0 auto;
      img {
        height: 100%;
        width: 100%;
      }
      &.bottom {
        padding-top: 50px;
      }
    }
    .adult-title {
      font-size: 15px;
      padding-top: 10px;
      font-weight: 600;
    }
    .infant-title {
      font-size: 15px;
      padding-top: 10px;
      font-weight: 600;
    }
  }
}

// @media screen and (min-height : 760px) {
//   .forTab{
//     width: 58px !important; 
//     color: #000 !important; 
//     margin-left: 15px !important; 
//     height: 58px !important; 
//     background: #fff !important; 
//     box-shadow: 0px 0px 6px 1px #70826A !important; 
//     margin-top: 8px !important; 
//     border-radius: 10px !important; 
//   }
// }