<ion-header class="ion-no-border">
  <ion-toolbar class="user-type-toolbar">
		<ion-buttons slot="start">
      <ion-button 
      style="
        width: 48px; 
        color: #000; 
        margin-left: 15px; 
        height: 48px; 
        background: #fff; 
        box-shadow: 0px 0px 6px 1px #70826A; 
        margin-top: 8px; 
        border-radius: 10px; 
      ">
        <ion-menu-button autoHide="false" ></ion-menu-button>
        <!-- style="font-size: 58px;" -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="user-type-body">
  <div class="type-wrapper">
    <!-- <div class="choose-category">Choisir<br/>la catégorie</div> -->
    <div class="type-image top" (click)="goToProblem()">
      <img src="./assets/imgs/login-icon.png">
    </div>
    <div class="adult-title">Adulte</div>
    <div class="type-image bottom" (click)="childExerciseList()">
      <img src="./assets/imgs/infant.png">
    </div>
    <div class="infant-title">Enfant</div>
  </div>
</ion-content>
