<ion-header class="ion-no-border">
  <ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title>problem-category</ion-title> -->
    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="dark" style="width: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="problem-type-body">
  <!-- <div class="type-wrapper">
    <div class="choose-category">Choisir<br/>catégorie de problème</div>
    <div class="type-image top" (click)="goToPhysical()">
      <img src="./assets/imgs/problem1.svg">
    </div>
    <div class="adult-title">Trauma / Choc. Douleurs aigues/<br/> anciennes</div>
    <div class="type-image bottom" (click)="goToMental()">
      <img src="./assets/imgs/problem2.png">
    </div>
    <div class="infant-title">Fatigue / Stress/ Régénération</div>
    <div class="type-image bottom" (click)="goToHygine()">
      <img src="./assets/imgs/problem3.svg">
    </div>
    <div class="infant-title">Hygiène ostéopathique</div>
  </div> -->
  <div class="type-wrapper">
    <!-- <div class="choose-category">choisIr<br/>la catégorie du problème</div>  -->
     
    <div *ngFor="let category of issuesCategories">
      <div class="type-image" (click)="goToPage(category.type)">
        <img [src]="category.profile_image">
      </div>
      <div class="category-title">{{category.name}}</div>
    </div>
  </div>
</ion-content>
