

.problem-type-toolbar {
  --background: transparent;
}
.problem-type-body {
  .type-wrapper {
    text-align: center;
    padding-bottom: 10px;
    // transform: translateY(-50%);
    // position: absolute;
    // top: 50%;
    .choose-category {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
      padding-bottom: 40px;
    }
    .type-image {
      width: 40%;
      height: 40%;
      margin: 0 auto;
      img {
        height: 100%;
        width: 100%;
      }
      &.bottom {
        padding-top: 30px;
      }
    }
    .category-title {
      font-size: 15px;
      padding: 10px 0 30px;
      font-weight: 600;
    }
    // .infant-title {
    //   font-size: 15px;
    //   padding-top: 10px;
    //   font-weight: 600;
    // }
  }
}