<ion-header class="ion-no-border">
  <ion-toolbar class="payment-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Détails de paiement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="payment-content">

  <!-- <div *ngIf="global.platform.is('ios') == true">
    <div style="padding: 8px 25px;
    background: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 600;">Payer avec Apple Pay</div>
    <div style="padding:15px 0;">
      <ion-button expand="block" style="margin: 0 25px" class="solid-primary-button ion-text-capitalize" color="primary" (click)="applePayButton()">
        <ion-icon name="logo-apple"></ion-icon>
        Pay
      </ion-button>
    </div>
  </div> -->


  <div *ngIf="global.platform.is('android') == true">
    <div style="padding: 8px 25px;
    background: white;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 14px;
    letter-spacing: 0.8px;
    font-weight: 600;">
      Payer avec Stripe
    </div>

    <div class="form">
      <form [formGroup]="stripeForm">
        <ion-list lines="none" style="background: transparent; margin-bottom: 6px;">
          <ion-item lines="none">
            <ion-input type="text" formControlName="name" placeholder="Nom du titulaire"></ion-input>
          </ion-item>
          <small *ngIf="!stripeForm.controls.name.valid && (stripeForm.controls.name.dirty)" class="invalid">* Entrez le nom du titulaire de la carte</small>
          <ion-item lines="none">
            <ion-input type="tel" formControlName="cardno" minlength="15" maxlength="16" placeholder="Numéro de carte"></ion-input>
            <!-- ==== EXTRA LINE === 
            <img slot="end" style="width: 36px;" *ngIf="cardtype" [src]="cardtype" /> 
            ==== EXTRA LINE === -->
          </ion-item>
          <small *ngIf="!stripeForm.controls.cardno.valid && (stripeForm.controls.cardno.dirty)" class="invalid">* Entrez un numéro de carte valide</small>
          <div style="display: flex; justify-content: space-between;">
            <ion-item lines="none" style="flex: 0 0 66%; margin-right: 6px;">
              <ion-datetime displayFormat="MM/YYYY" pickerFormat="MM YYYY" placeholder="MM/YYYY" [min]="global.tomorrow()" [max]="global.maxday()" style="font-size: 0.7rem !important; padding-left: 10px;" formControlName="monthDate" mode="ios"></ion-datetime>
            </ion-item>
            <ion-item lines="none">
              <ion-input type="password" formControlName="cvv" minlength="3" maxlength="3" placeholder="CVV"></ion-input>
            </ion-item>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <small *ngIf="!stripeForm.controls.monthDate.valid && (stripeForm.controls.monthDate.dirty)" class="invalid" style="flex: 0 0 60%; margin-right: 3px; padding-top: 6px;">* Entrez le mois et la date valides</small>
            <small *ngIf="!stripeForm.controls.cvv.valid && (stripeForm.controls.cvv.dirty)" class="invalid" style="flex: 0 0 39%; padding-top: 6px;">* Entrez un CVV valide</small>
          </div>
        </ion-list>
        <ion-button expand="block" class="solid-primary-button ion-text-capitalize" color="primary" (click)="payment()" [disabled]="!stripeForm.valid">
          Paiement
        </ion-button>
      </form>
    </div>

  </div>






</ion-content>
