.payment-toolbar {
  --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}
.payment-content {
  --background: var(--ion-color-secondary);
  .form {
    width: calc(100% - 52px);
    padding: 0 0 20px;
    margin: 0 auto;

    ion-item {
      border-radius: 3px;
      /* padding: 0px 12px; */
      /* width: calc(100% - 0px); */
      min-height: unset !important;
      box-shadow: none !important;
      margin: 0 auto;
      --background: #fff;
      --inner-padding-end: 0px;
      --inner-min-height: unset !important;
      --padding-start: 0;
      /* --highligh-color-focused: var(--transparent) !important; */
      /* --background-focused: var(--transparent) !important; */
      box-shadow: none !important;
      border: 1px solid var(--ion-color-primary) !important;
      margin-top: 10px;
      --min-height: 40px;
  
      ion-label {
        color: var(--text-light2) !important;
        margin: 0;
        font-size: 14px !important;
        letter-spacing: 0;
        font-weight: 500;
        max-width: 43% !important;
        flex: unset !important;
        min-width: fit-content !important;
        opacity: .7;
      }
  
      ion-textarea,
      ion-input {
        // --padding: 0 !important;
        font-size: 14px !important;
        font-weight: 500 !important;
        letter-spacing: 0px;
        --padding-start: 10px !important;
        --padding-end: 10px !important;
        --padding-top: 0 !important;
        --padding-bottom: 0px !important;
        color: var(--text-black);
        --placeholder-color: var(--text-light2) !important;
        --placeholder-opacity: 1;
        --placeholder-font-weight: 500 !important;
        position: relative;
  
  
        //	top: 4px;
        flex: unset !important;
  
        input {
          --padding: var(--no-padding);
  
          &.native-input {
            --padding: var(--no-padding);
          }
        }
  
        &.password {
          letter-spacing: 2px;
          font-size: 1rem !important;
          font-weight: 600 !important;
        }
  
      }
  
      &.item-select {
        ion-label.label-stacked {
          margin-bottom: 5px;
        }
  
        ion-select {
          padding: 0;
          font-size: 14px !important;
          font-weight: 500 !important;
          .select-icon {
            position: absolute !important;
            right: 0 !important;
          }
        }
      }
    }
    small.invalid {
      color: #c7170a;
    }
  }
}