<ion-header class="ion-no-border">
  <ion-toolbar class="profile-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title class="header-title">Mon profil</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="user-profile">
  <div class="user-image">
    <img class="user" [src]="global.userdetails?.profile_img">
    <ion-icon name="pencil-sharp" class="edit-dp" color="primary" (click)="changeImage()"></ion-icon>
  </div>
  <form [formGroup]="profileForm" class="profile-form">
    <ion-list class="form-list">
      <ion-label color="dark" position="stacked" class="input-label">Email</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
        <ion-icon slot="end" name="checkmark-circle" style="margin-right: 10px; color: #008000;"></ion-icon>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!profileForm.controls.email.valid && (profileForm.controls.email.dirty)" class="invalid">* Entrez une adresse mail valide
        </span>
      </div>

      <!-- <ion-label color="dark" position="stacked" class="input-label">Nom</ion-label> -->
      <ion-label color="dark" position="stacked" class="input-label">Nom et Prénom</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="text" formControlName="lastname" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!profileForm.controls.lastname.valid && (profileForm.controls.lastname.dirty)" class="invalid">* Entrer le nom de famille
        </span>
      </div>

      <ion-label color="dark" position="stacked" class="input-label">Prénom</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="text" formControlName="firstname" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!profileForm.controls.firstname.valid && (profileForm.controls.firstname.dirty)" class="invalid">* Entrez votre prénom
        </span>
      </div>

      <ion-label color="dark" position="stacked" class="input-label">Numero de Telephone</ion-label>
      <ion-item lines="none" class="input-item">
        <ion-input type="tel" formControlName="telephone" placeholder="" class="input-text"></ion-input>
      </ion-item>
      <div style="height: 22px;">
        <span *ngIf="!profileForm.controls.telephone.valid && (profileForm.controls.telephone.dirty)" class="invalid">* Le numéro de téléphone doit comporter au moins 9 chiffres
        </span>
      </div>
    </ion-list>

    <div>
      <ion-item style="--padding-start:0 !important;border: 1px solid black; margin-bottom: 15px; border-radius: 5px; ">
        <ion-select disabled placeholder="Choisissez le pays" [ngModelOptions]="{standalone: true}"  [(ngModel)]="countryIso" style="width: 100%; padding-left: 10px;">
          <ion-select-option value="{{country.iso}}" *ngFor="let country of global.allCountryList">{{country.name}}</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="button-container">
      <ion-button expand="block" class="submit-button ion-text-capitalize" color="primary" (click)="save()" [disabled]="!profileForm.valid" style="--box-shadow: none; height: 45px;">
        Sauvegarder
      </ion-button>
    </div>
  </form>
</ion-content>

<ion-footer class="ion-no-border" 
style="
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
">
  <div style="display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 16px;">
    <div style="font-weight: 600;text-align: center;" (click)="goToMyHistory()"
      *ngIf="global.isLoggedIn && global?.userdetails?.plan"
    > 
      Historique de navigation 
    </div>
    <div style="font-weight: 600;text-align: center;" (click)="goToPaymentHistory()"
      *ngIf="global.isLoggedIn && global?.userdetails?.plan"
    > 
      Historique de paiement 
    </div>
  </div>

  <!-- <ion-menu-toggle auto-hide="false" (click)="goToMyHistory()"
  *ngIf="global.isLoggedIn && global?.userdetails?.plan">
  <ion-item detail="false">
    <div class="item_inner d-flex">
      <div class="menu-options">Historique de navigation</div>
    </div>
  </ion-item>
</ion-menu-toggle>
<ion-menu-toggle auto-hide="false" *ngIf="global.isLoggedIn && global?.userdetails?.plan"
  (click)="goToPaymentHistory()">
  <ion-item detail="false" [routerDirection]="'root'">
    <div class="item_inner d-flex">
      <div class="menu-options">Historique de paiement</div>
    </div>
  </ion-item>
</ion-menu-toggle> -->

</ion-footer>
