.profile-toolbar {
  // --background: var(--ion-color-secondary);
  .header-title {
    width: calc(100% - 48px);
  }
}.user-profile {
  .user-image {
    flex: 0 0 140px;
    width: 140px;
    height: 140px;
    margin: 20px auto;
    position: relative;
    .user {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    .edit-dp {
      position: absolute;
      width: 20px;
      height: 20px;
      bottom: -2px;
      right: -10px;
      background: #eaeaea;
      border-radius: 50%;
      padding: 12px;
    }
  }
  .profile-form {
    width: 80%;
    margin: 0 auto;
    .form-list {
      padding-top: 20px;
      .input-label {
        font-size: 13px;
        letter-spacing: 0.5px;
      }
      .input-item {
        border: 1px solid #000000;
        border-radius: 5px;
        --padding-start: 0 !important;
        --inner-padding-end: 0;
        margin-top: 5px;
        --min-height: 37px;
        &.item-has-focus {
          --highlight-background: none !important;
          border: 2px solid #000000;
        }
        &.ion-dirty {
          --highlight-background: none !important;
        }
        &.ion-invalid {
          --highlight-background: none !important;
        }
        // &:last-child {
        //   margin-top: 10px;
        // }
        .input-text {
          font-size: 13px;
          letter-spacing: 0.5px;
          --padding-start: 10px;
          --padding-end: 10px;
          height: 40px;
        }
        .input-hide-icon {
          margin: 0 12px 0;
          width: 20px;
        }
        .fieldval {
          padding-left: 10px;
          font-size: 13px;
        }
        .calender-icon {
          padding-right: 10px;
        }
      }
      .invalid {
        padding-top: 5px;
        font-size: 75%;
        color: #8b0000;
      }
    }
  }
}