<ion-header class="ion-no-border">
  <ion-toolbar class="physical-exercise-details-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <!-- <ion-title class="header-title">Poitrine</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content class="physical-exercise-details-body">
  <!-- (ready)="onReady($event)" -->
  <youtube-player #player class="video-player"
  [videoId]="videoId"
  (stateChange)="onStateChange($event)"></youtube-player>

  <div class="exercise-content">
    <div class="instruction" style="padding-bottom: 40px;">
      <!-- <div [innerHTML]="detail?.content"></div> -->
      <div [innerHTML]="global.changeSanitizerHtml(detail.content)"></div>
      
    </div>
  </div>
</ion-content>
