<ion-header class="ion-no-border">
  <ion-toolbar class="forgot-password-toolbar">
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
    <ion-title class="header-title">Mot de passe oublié</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="forgot-password-body">
  <div class="forgot-password-container">
    <div class="logo-container">
      <img src="./assets/imgs/login-logo.svg">
    </div>
    <div class="input-container">
      <form [formGroup]="forgetPasswordForm">
        <ion-list class="form-list">
          <ion-label color="dark" position="stacked" class="input-label">Identifiant de l'e-mail</ion-label>
          <ion-item lines="none" class="input-item">
            <ion-input type="email" formControlName="email" placeholder="" class="input-text"></ion-input>
          </ion-item>
          <div style="height: 22px;">
            <span *ngIf="!forgetPasswordForm.controls.email.valid && (forgetPasswordForm.controls.email.dirty)" class="invalid">* Entrez une adresse mail valide
            </span>
          </div>
        </ion-list>
        <div class="button-container">
          <ion-button expand="block" class="solid-primary-button ion-text-capitalize continue" color="primary" (click)="resetPassword()" [disabled]="!forgetPasswordForm.valid">
            Continuer
          </ion-button>
        </div>
      </form>
    </div>
  </div>
</ion-content>
