<!-- <ion-header>
  <ion-toolbar>
    <ion-title>otp-verification</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="otp-verify">
  <div class='main-content'>
    <div class="heading-label">Vérification</div>
    <p class="verify-descrp">Entrez le code de vérification que nous venons de vous envoyer sur votre adresse e-mail</p>
    <form class=input-fields>
      <ion-item class="inputfields" lines="none">
        <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input1" placeholder="" maxlength="1" #a (keyup)="moveFocus(b, $event, a)"></ion-input>
      </ion-item>
      <ion-item class="inputfields" lines="none">
        <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input2" placeholder="" maxlength="1" #b (keyup)="moveFocus(c, $event, a)"></ion-input>
      </ion-item>
      <ion-item class="inputfields" lines="none">
        <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input3" placeholder="" maxlength="1" #c (keyup)="moveFocus(d, $event, b)"></ion-input>
      </ion-item>
      <ion-item class="inputfields" lines="none">
        <ion-input class="inputsitem" type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="otp.input4" placeholder="" maxlength="1" #d (keyup)="moveFocus(d, $event, c)"></ion-input>
      </ion-item>
      
    </form>
    <div class="login">Vous n'avez pas reçu d'OTP ? <span (click)="resendOtp()">Renvoyer OTP</span></div>
    <div margin>
      <ion-button class="verify ion-text-capitalize" (click)="verify()" >
        Vérifier
      </ion-button>
    </div>
  </div>
</ion-content>
