
.otp-verify {
  .main-content {
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 10px auto;
    width: 80%;
    left: 50%;
    .heading-label{
      text-align: center;
      margin: 10px 0 40px;
      font-size: 16px;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .verify-descrp {
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
  .input-fields{
    display: flex;
    width: 80%;
    margin: 0 auto;
    .inputfields{
      width: 100%;
      margin: 25px 5px;
      padding: 0;
      // border-radius: 4px;
      border-bottom: 1px solid #b1b1b1;
      &.item-has-focus {
        --highlight-background: none !important;
      }
      &.ion-dirty {
        --highlight-background: none !important;
      }
      &.ion-invalid {
        --highlight-background: none !important;
      }
      .inputsitem {
        text-align: center;
        font-size: 18px;
      }
    }
  }
  .login {
    margin: 8px 0 20px;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 500;
    span {
      text-decoration: underline;
    }
  }
  .verify {
    height: 42px;
    --box-shadow: none;
    font-size: 16px;
    width: 40%;
  }
}