/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.user-type-body {
  // --background: url('/assets/imgs/category-background.svg') 0 0/100% 100% no-repeat;
  // --background: url('/assets/imgs/category-background.svg');
  // --background: url(/assets/imgs/category-background.svg) no-repeat center center / cover;
  // background-repeat: no-repeat;
  // background-size: cover;
  // left: 0;
  // height: 100%;
  // width: 100%;

  --background: none;
  background-image: url('/assets/imgs/category-background.svg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
}

.solid-primary-button {
  background: var(--ion-color-primary);
  height: 43px;
  margin: 0;
  --box-shadow: none;
  border-radius: 5px;
}


.light-outline-button {
  height: 43px;
  margin: 0;
  --box-shadow: none;
  background: #fff;
  border-radius: 5px;
}

.header-title {
  text-align: center;
  font-size: 16px;
  text-shadow: 0 0 black;
}

.play-again-custom-class {
  --width: 86%;
  --max-width: 86%;
  --min-width: 86%;
  .alert-wrapper {
    border-radius: 20px;
    box-shadow: none;
    .alert-head {
      display: none;
    }
    .alert-message {
      padding-bottom: 0;
    }
    .alert-button-group {
      padding: 40px;
      .alert-button {
        width: 100%;
        background: #70826A;
        color: #fff;
        text-transform: none;
        margin-inline-end: 0;
        border-radius: 5px;
        height: 48px;
        .alert-button-inner {
          justify-content: center;
        }
      }
    }
  }
}

.loader-waiting {
  .loading-wrapper {
    border-radius: 50%;
    padding: 8px;
    box-shadow: none;
    .loading-spinner {
      width: 8vw;
      height: 8vw;
      ion-spinner {
        width: 8vw;
        height: 8vw;
      }
    }
  }
}

.ytp-overflow-button {
  display: none;
}

.video-listing-toolbar {
  --background: var(--ion-color-secondary);
}
.video-listing-body {
  --background: var(--ion-color-secondary);
  .post-wrapper {
    width: 84%;
    margin: 0 auto 40px;
    .post-img {
      height: 230px;
      width: 100%;
      position: relative;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 6px;
      }
      .ytube-logo {
        width: 48px;
        height: 33px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        opacity: 0.9;
        filter: brightness(0.5);
      }
    }
    .post-title {
      padding: 20px 0 12px;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
    }
    .post-description {
      color: #646465;
      line-height: 18px;
      font-size: 13px;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &:first-child {
      margin-top: 10px;
    }
  }
}

.no-data {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: calc(100vh - 56px);
}

.user-feedback-modal-class {
  --background: rgb(0 0 0 / 23%);
  app-feedback-modal.ion-page {
    width: 82%;
    height: 542px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    ion-header {
      display: none;
    }
    .upper-part {
      padding: 30px 30px 22px;
      background: #fff;
      .feedback-heading {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      .emoji-row {
        margin-top: 10px;
        .emoji-img-wrap {
          width: 60px;
          height: 60px;
          margin: 0 auto;
          border-radius: 50%;
          padding: 3px;
          img {
            width: 100%;
            height: 100%;
          }
          &.selected {
            border: 2px solid #70826A;
          }
        }
        .emoji-name {
          text-align: center;
          font-size: 16px;
          &.top {
            padding-bottom: 8px;
          }
          &.bottom {
            padding-top: 8px;
          }
        }
      }
    }
    .lower-part {
      background: #F6F7FB;
      padding: 14px 30px;
      // box-shadow: ;
      .play-again {
        --background: #ffffff;
        --box-shadow: 0 2px 2px #dcdee3;
        color: var(--ion-color-primary);
      }
    }
  }
}

youtube-player.video-player {
  iframe {
    width: 100%;
    height: 230px;
    .ytp-overflow-button-visible {
      display: none;
    }
  }
  .ytp-chrome-controls {
    .ytp-subtitles-button {
      display: none;
    }
  }
}

.feedback-modal-health {
  --background: rgb(0 0 0 / 23%);
  app-feedback-modal-health.ion-page {
    width: 82%;
    height: 390px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    ion-header {
      display: none;
    }
    .upper-part {
      padding: 30px 30px 22px;
      background: #fff;
      .feedback-heading {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        padding-bottom: 10px;
      }
      .emoji-row {
        margin-top: 10px;
        .emoji-img-wrap {
          width: 64px;
          height: 64px;
          margin: 0 auto;
          border-radius: 50%;
          padding: 3px;
          img {
            width: 100%;
            height: 100%;
          }
          &.selected {
            border: 2px solid #70826A;
          }
        }
        .emoji-name {
          text-align: center;
          font-size: 16px;
          &.top {
            padding-bottom: 8px;
          }
          &.bottom {
            padding-top: 8px;
          }
        }
      }
    }
  }
}

// .swiper-slide:not(.swiper-slide-active) > div {
//   display:none;
// }

.premium-popup-custom-class {
  .alert-wrapper {
    min-width: 80%;
    .alert-message {
      padding: 50px 40px;
      font-size: 17px;
    }
  }
}