<!-- style="background: #737e70" -->
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar class="home-toolbar">
		<ion-buttons slot="start">
      <ion-button style="width: 48px;">
        <ion-menu-button autoHide="false" style="--color: white !important;"></ion-menu-button>
      </ion-button>
    </ion-buttons>
    <!-- <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="search" color="light" style="width: 18px;"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">
  <!-- <div *ngIf="platformis == 'i'" style="height: 20px;"></div> -->
  <div class="curve-wrapper">
    <img src="./assets/imgs/home-curve.svg" />
  </div>
  <div class="inner-body-wrapper">
    <div class="first-section">
      <ion-button expand="block" class="ion-text-capitalize premium" (click)="goToPremium()">
        <ion-icon slot="start" src="./assets/imgs/crown.svg"></ion-icon>
        Passer à la version premium
      </ion-button>
      <div class="welcome-text-wrap">
        <!-- <div class="first">Bienvenue à</div> -->
        <div class="first">Bienvenue chez</div>
        <h3 class="second">l'ostéo en poche</h3>
      </div>
    </div>
    <div class="second-section" *ngFor="let item of videoList; let i=index" [style.background]="i>0 ? '#FFF7E4' : 'transparent'">
      <!-- <img src="./assets/imgs/Sad-guy.jpeg" /> -->
      <!-- <video controls="controls" controlsList="nodownload" preload="metadata" webkit-playsinline="webkit-playsinline" class="video-player-home" (ended)="onEndedVideo()">
        <source [src]="item.video" type="video/mp4" />
      </video> -->
      <iframe width="100%" height="200" frameBorder="0"
      [src]="global.getSafeUrl(item.video)">
      </iframe>
      <div class="text-wrapper">
        <div class="title">{{item.title}}</div>
        <div class="body-text" [innerHTML]="global.changeSanitizerHtml(item.content)">{{item.content}}</div>
      </div>
    </div>
    <div class="fourth-section">
      <div class="title">Témoignages clients</div>
      <ion-slides pager="false" loop="true" class="slide-wrapper" [options]="slideOpts">
        <ion-slide *ngFor="let data of testimonials ">
          <div class="item-container">
            <!-- <div class="item-img-wrapper">
              <img [src]="data.profile_image">
            </div> -->
            <div class="testimonial-content">
              <div class="comment" [innerHTML]="global.changeSanitizerHtml(data.comment)"></div>
              <div class="autor">- {{data.client_name}}</div>
            </div>
          </div>
        </ion-slide>
        <!-- <ion-slide *ngFor="let data of [1,2,3,4]">
          <div class="item-container">
            <div class="testimonial-content">
              <div class="comment">Tempor sed no vero est amet et, invidunt consetetur at.</div>
              <div class="autor">- Satabdi Roy</div>
            </div>
          </div>
        </ion-slide> -->
      </ion-slides>
    </div>
  </div>
</ion-content>
