
<ion-header class="ion-no-border" translucent="true">
  <ion-toolbar class="testimonial-toolbar">
		<ion-buttons slot="start">
			<ion-back-button style="color: rgb(255, 255, 255);"></ion-back-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" class="welcome-testimonial-body">
  <div class="curve-wrapper">
    <img src="./assets/imgs/home-curve.svg" />
  </div>
  <div class="inner-body-wrapper">
    <div class="first-section">
      <div class="welcome-text-wrap">
        <div class="first">Bienvenue à</div>
        <h3 class="second">l'ostéo en poche</h3>
      </div>
    </div>
    <div class="second-section" *ngFor="let item of videoList; let i=index" [style.background]="i>0 ? '#FFF7E4' : 'transparent'">
      <iframe width="100%" height="200" frameBorder="0"
      [src]="global.getSafeUrl(item.video)">
      </iframe>
      <div class="text-wrapper">
        <div class="title">{{item.title}}</div>
        <div class="body-text" [innerHTML]="global.changeSanitizerHtml(item.content)"></div>
        <!-- <div *ngIf="global.platform.is('android') == true" class="body-text" [innerHTML]="global.changeSanitizerHtml(item.content)"></div>
        <div *ngIf="global.platform.is('ios') == true" class="body-text-ios" [innerHTML]="global.changeSanitizerHtml(item.content)">{{item.content}}</div> -->
        
      </div>
    </div>
    <div class="fourth-section" *ngIf="testimonials.length > 0">
      <div class="title">Témoignages clients</div>
      <ion-slides pager="false" loop="true" class="slide-wrapper" [options]="slideOpts">
        <ion-slide *ngFor="let data of testimonials ">
          <div class="item-container">
            <div class="testimonial-content">
              <div class="comment" [innerHTML]="global.changeSanitizerHtml(data.comment)"></div>
              <div class="autor">- {{data.client_name}}</div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>