

.testimonial-toolbar {
  --background: transparent;
  padding-inline-start: 6px;
  padding-inline-end: 6px;
  // --background-color: transparent;
  --ion-color-base: transparent !important;
}

.welcome-testimonial-body {
  .curve-wrapper {
    position: fixed;
    top: -1px;
    z-index: -1;
    width: 100%;
    img {
      width: 100%;
    }
  }
  
  .inner-body-wrapper {
    z-index: 1;
    padding-top: 6px;
    .first-section {
      width: 84%;
      margin: 0 auto;
      .premium {
        --box-shadow: none;
        --color: var(--ion-color-primary);
        font-weight: 600;
        font-size: 12px;
        --background: #fff;
        height: 48px;
        margin: 0;
        --background-activated: #fff;
        ion-icon {
          width: 42px;
          height: 25px;
        }
      }
      .welcome-text-wrap {
        color: #fff;
        padding: 18px 0 14px;
        .first {
          font-size: 20px;
          padding-bottom: 5px;
          font-weight: 500;
          letter-spacing: 0.5px;
        }
        .second {
          margin-top: 0;
          font-size: 26px;
          font-weight: 600;
        }
      }
    }
    .second-section {
      // width: 84%;
      // margin: 0 auto;
      width: 100%;
      margin: 0 auto;
      background: transparent;
      padding: 26px;
      img {
        border-radius: 8px;
      }
      .video-player-home {
        width: 100%;
      }
      .text-wrapper {
        padding: 25px 0 0;
        .title {
          padding-bottom: 12px;
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.5px;
          text-transform: uppercase;
        }
        .body-text {
          font-size: 13px;
          letter-spacing: 0.5px;
          overflow: hidden;
          display: -webkit-box;
          // -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }
        .body-text-ios{
          font-size: 13px;
          letter-spacing: 0.5px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 6;
          -webkit-box-orient: vertical;
        }
      }
      // &:not(:first-child) {
      //   background: #FFF7E4;
      // }
    }
    .fourth-section {
      width: 100%;
      margin: 0 auto;
      padding: 26px 0 32px;
      background: #fff;
      .title {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
        letter-spacing: 0.5px;
        padding: 0 26px 12px;
      }
      .slide-wrapper {
        padding: 0 20px;
        // margin-left: 24px;
        ion-slide {
          background: #c1e4ff;
          overflow-y: auto;
          border-radius: 10px;
          min-height: 113px;
          .item-container {
            // padding: 18px 4px 18px 26px;
            // display: flex;
            // border-radius: 8px;
            width: 100%;
            // .item-img-wrapper {
            //   width: 84px;
            //   height: 84px;
            //   flex: 0 0 84px;
            //   img {
            //     width: 100%;
            //     height: 100%;
            //     object-fit: cover;
            //     border-radius: 10px;
            //   }
            // }
            .testimonial-content {
              // flex: 0 0 60vw;
              text-align: left;
              padding: 0 18px 18px 18px;
              width: 100%;
              .comment {
                font-size: 16px;
              }
              .autor {
                // padding-top: 8px;
                font-size: 14px;
                letter-spacing: 0.6px;
                color: #777777;
              }
            }
          }
        }
      }
    }
  }
}